#roomVote.rFeedGroup(v-if="votes.filter(r=>{return r.isactive}).length>0 || tags.filter(r=>{return r.isactive}).length>0 || pole.filter(r=>{return r.isactive}).length>0")
    div.rFeedGroupTitle
        div.rFeedGroupBody


            div.qItem(v-for="item in votes" v-if="item.isactive" )
                div(v-if="item.iscompl" style="margin-bottom:20px")
                    span.red #{lang.pollClosed}.
                div.qItemName {{item.title}}

                div.vAnswBox
                    div.vAnsw(v-for="answ in sortedVoteAnsvers(item.answers)" v-on:click="vote(answ, item)" v-bind:class="{ready:answIsReady(answ)}")
                        div.vAnswTitle
                            span(v-if="item.iscompl") {{CalcAnswPercent(answ, item)}}%,&nbsp
                            span {{answ.title}}
                            div.vAnswPercent(v-if="item.iscompl" v-bind:style="{width:CalcAnswPercent(answ, item)+'%'}")