div.editRoomBox(v-if="company" v-on:click="saveCompany()")
    div.editRoom(v-on:click.stop.prevent=";;")
        div.regGroupTitle Компании:
                    div.telItem(v-for="item in company.items" style="margin-top: 5px;")
                       input(v-model="item.title" placeholder="Введите название" v-on:change="saveCompanyItem(item)" style="width:300px")
                       span(v-on:click="deleteCompanyItem(item)") &nbsp Удалить
        div.regGroupTitle(style="cursor: pointer;color:#3D89E0" v-on:click="addCompany(company.event)") Добавить


