div.lFooterAdgendaBox(style="display:flex")

    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Зверев Михаил Евгеньевич
                div Директор дирекции
                div инновационного развития
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/gpnuser.jpg")
