div.lFooterHead.headTitle
    div Новая жизнь после COVID-19.
    div DocDoc об изменении отношения людей к&nbsp;медицине и способах поддержки сотрудников.
div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 10:00 - 10:30
        div.lFooterProgItemDescr  Как изменились привычки населения
    div.lFooterProgItem
        div.lFooterProgItemTime 10:30 – 11:10
        div.lFooterProgItemDescr  DocDoc о возможностях поддержки сотрудников
    div.lFooterProgItem
        div.lFooterProgItemTime 11:10 – 12:00
        div.lFooterProgItemDescr  Общение гостей и участников конференции
div.lFooterAdgendaBox
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Владислав Крейнин
                div Вице-президент, Сбербанк
                div &nbsp;
            div.lFooterAdgendaText
                div С 2015-го работает в Сбербанке.
                div В 2017-м занял пост вице-президента — директора по маркетингу в департаменте маркетинга и коммуникаций.
                div В январе 2020 года стал директором по росту бизнеса (Chief Growth Officer) экосистемы SberX.
                div Отвечает за развитие disrupt-функции, ускоренный рост ключевых направлений экосистемы, запуск новых бизнес-моделей в России и на зарубежных рынках.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/kreinin.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName Владимир Левченко
                div Обозреватель, РБК-ТВ
                div &nbsp;
            div.lFooterAdgendaText
                div Пишет и рассказывает о текущем состоянии и перспективах мировых финансовых рынков, мировой и отечественной экономики. О финансовой грамотности и психологии инвестиций.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/levchenko.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Дмитрий Петрухин
                div CEO,  DocDoc
                div &nbsp;
            div.lFooterAdgendaText
                div В 2002 году получил высшее экономическое образование, в 2018 году прошел бизнес курс в Stanford University, USA. Профессиональную деятельность начал в сфере системного интегрирования. В 2008 году основал рекламное агентство SmartMedia. В 2011 году запустил DocDoc - сервис по поиску врачей, диагностик, вызову врача на дом, записи к врачам (в том числе по полису ДМС).
                div В настоящее время DocDoc трансформируется в E-Health платформу.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/petrukhin.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Дмитрий Рыскин
                div  Директор по работе
                div с ключевыми клиентами, DocDoc
            div.lFooterAdgendaText
                div С 2006 года занимался развитием розничного бизнеса в АО “Райффайзенбанк”,  с 2011 - 2016 гг. возглавлял направления развития премиального банкинга и комиссионных розничных продаж в банках ТОП-10, таких как “НОМОС-Банк”, “Новосибирский муниципальный банк”, “НОМОС-Региобанк”, Банк “Петрокоммерц”, Банк “ФК Открытие”, “НБ Траст” и АКБ “Росбанк”. С 2017 года занимается построением крупнейшего в России медицинского маркетплейса в медтех компании DocDoc.ru, где курирует вопросы развития стратегических партнерских отношений.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/riskin.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Ани Асланян
                div  Основатель, Телеграм–канал
                div «Все о блокчейн»
            div.lFooterAdgendaText
                div  Член экспертного совета по экономической политике, промышленности, инновационному развитию и предпринимательству Госдумы РФ.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/aslanyan.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Евгений Яньков
                div Совладелец, аптеки Вита
                div &nbsp;
            div.lFooterAdgendaText
                div Ранее Евгений работал в семейном бизнесе - группа компаний «Морон» (дистрибуция и аптеки) до его продажи финскому дистрибьютору Oriola-KD в 2010. Являлся CFO, отвечал за корпоративные финансы, ИТ, развитие, ретейл.
                div Евгений закончил London School of Economics and Political Science по специальности математика и экономика.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/yankov.png")

    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Искандар Рахматов
                div Операционный директор,
                div инвестиционная компания Zamwell
            div.lFooterAdgendaText
                div Обладает экспертизой в области корпоративных финансов и портфельных инвестиций. Прежде занимал должность финансового директора одного из российских издательств Clever Media Group. Выпускник Высшей школы экономики. Область телемедицины изучает на протяжении последних полутора лет в рамках проектов на уровне портфельных компаний.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/rakhmatov.png")