div.lFooterAdgendaBox(style="display:flex")

    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="")
            div.qItemName
                div Егоров Владимир Николаевич
                div Директор дирекции
                div Директор дирекции корпоративных решений
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/GAZPROM-NEFT_EGOROV.VN.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="")
            div.qItemName
                div Берг Галина Николаевна
                div Руководитель решения
                div по поддержке закупок МТР и услуг
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/GAZPROM-NEFT_Berg.GN.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="")
            div.qItemName
                div Козьменко Павел Михайлович
                div Начальник департамента
                div развития бизнес-платформы
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/GAZPROM-NEFT_Kozmenko.PM.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="")
            div.qItemName
                div Гребенева Любовь Николаевна
                div Руководитель направления
                div управления по работе с персоналом
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/GAZPROM-NEFT_Grebeneva.LN.jpg")