div.lFooterHead.headTitle
    div ОНЛАЙН-КОНФЕРЕНЦИЯ
    div Как настроить продажи онлайн
    div и организовать доставку
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Владимир Лисюткин
                div Руководитель юридического департамента
                div «ПРАВОКАРД»
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;
                div Судебный юрист, практик. Более 1000 выигранных судов на стороне индивидуальных предпринимателей и малого/среднего бизнеса.
                div Участие в более 400 проверках контрольно-надзорными органами, на стороне бизнеса.
                div Автор ряда статей по защите прав ИП и ООО при проведении проверок контрольно-надзорными органами.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/lisutkin.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Александр Еремеев
                div Управляющий партнер
                div Product.Vision
                div
            div.lFooterAdgendaText
                div &nbsp
                div Более 15 лет в IT бизнесе той или иной сложности. Видел изнутри маленькие и большие компании, такие, например, как Motorola.
                div За 5 лет работы в акселераторах поработал с более чем 1000 стартапов.
                div Стоял у истоков трекерства, практикует профессию более 5 лет, обучил не один десяток трекеров
                div Создал более 20 акселерационных программ, как для фондов, так и для корпораций (КАМАз, Альфа, КРОК, МАИ, Сбербанк, ФПСП, ФРИИ, StartupLab)
                div Автор и преподаватель курса “Управление бизнес-акселерацией” на факультете “Капитаны” в Академии им. Плеханова.
                div Соавтор курса “Интернет-предпринимательство” на Coursera.
                div Соавтор учебника “Интернет предпринимательство” для 10-11 классов.


            div.lFooterAdgendaAvatar
                img(src="/images/speakers/eremeev.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Тимур Хамзин
                div директор по развитию бизнеса,
                div СБЕР Решения
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;
                div Обладает 10-летним опытом в области разработки и стратегии в области оптимизации деятельности компаний в финансовой сфере.
                div До прихода в СБЕР Решения Тимур занимался развитием аутсорсинга бизнес-процессов в рамках Экосистемы Сбербанка, в частности реализацией проектов по построению централизованной модели операционной функции и ИТ в РФ, странах СНГ и в европейских дочерних банках Группы.
                div До Сбербанка работал в компании «большой четверки», где занимался проектами в области стратегического, управленческого и операционного консультирования в финансовой, нефтегазовой и нефтехимической отраслях.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/hamzin.jpg")




