div.lFooterHead.headTitle
    div Стартовая конференция
    div программы опережающего развития
    div руководителей инжинирингового дивизиона
    div «Новая высота»
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox
    div.progRow
        div.progTime 08:30 - 08:45
        div.progText
            div.progHeader
            div.progDescr Сбор участников на платформе OnEvent, технические моменты: проверка связи, проверка Skype for Business
    div.progRow
        div.progTime 08:45 - 09:00
        div.progText
            div.progHeader Вступление от ведущего
            div.progDescr Минутка информационной безопасности. Приветствие участников, вступление про цели конференции. Программа конференции. Правила работы на онлайн-конференции.

    div.progRow
        div.progTime 09:00 - 09:30
        div.progText
            div.progHeader Выступление: Александр Маркович Локшин, первый заместитель Генерального директора Госкорпорации «Росатом» - Президент АО ИК «АСЭ»
            div.progDescr Видение и стратегия РОСАТОМА – трансформация и будущее АСЭ – стратегия успеха.
    div.progRow
        div.progTime 09:30 - 10:00
        div.progText
            div.progHeader Выступление: Татьяна Анатольевна Терентьева, Директор по персоналу Госкорпорации «Росатом».
            div.progDescr Какие компетенции нужны руководителям АСЭ, чтобы добиться успеха в трансформации Дивизиона.
    div.progRow
        div.progTime 10:00 - 10:35
        div.progText
            div.progHeader Выступление: Марк Вадимович Розин, Генеральный директор "ЭКОПСИ" Руководитель практики Анастасия Андреевна Попова
            div.progDescr Корпоративная культура АСЭ. Контекст происходящих изменений в АСЭ. Модель спиральной динамики. Результаты исследований. Цели по трансформации культуры.
    div.progRow
        div.progTime 10:35 - 11:00
        div.progText
            div.progHeader Работа в группах.
            div.progDescr Обсуждение приоритетных компетенций, направлений персонального развития для трансформации Росатома и Дивизиона.
    div.progRow
        div.progTime 11.00 - 11.30
        div.progText
            div.progHeader
            div.progDescr 	Перерыв
    div.progRow
        div.progTime 11.30 - 12.10
        div.progText
            div.progHeader Мастера трансформации корпоративной культуры
            div.progDescr Андрей Андреевич Белевцев, руководитель Дирекции по цифровой трансформации ПАО Газпромнефть.
    div.progRow
        div.progTime 12.10 – 12.30
        div.progText
            div.progHeader Презентация результатов работы в группах
            div.progDescr Обсуждение приоритетных компетенций, направлений персонального развития для трансформации Росатома и Дивизиона
    div.progRow
        div.progTime 12.30 - 13.00
        div.progText
            div.progHeader
            div.progDescr Интерактив с участниками: уровень развития компетенций, ролевые модели поведения
    div.progRow
        div.progTime 13.00 - 13.30
        div.progText
            div.progHeader Вице-Президент по персоналу и внутренним коммуникациям Наталья Борисовна Шафалович, Начальник управления обучения и развития Денис Константинович Машков
            div.progDescr Начальник управления обучения и развития Денис Константинович Машков
    div.progRow
        div.progTime
        div.progText
            div.progHeader
            div.progDescr Подведение итогов конференции





