div.lFooterHead.headTitle(style="display:block;color:white")
    div Демонстрация возможностей
    div платформы проведения онлайн мероприятий
    div «Onevent»
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox(style="display:flex")

    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Константин Наумов
                div Генеральный директор и основатель,
                div «Айрон ВК»
            div.lFooterAdgendaText(style="color: white;")
                div &nbsp;
                div Менеджер проекта Оnevent в части организации видеосьемок и трансляции.
                div &nbsp;
                div 2007-2014 Руководитель проекта РИАТВ в рамках реорганизации редакции РИА Новости.
                div &nbsp;
                div 2012-2020 Архитектор многокамерных трансляций с интерактивной составляющей для Сбербанк, Альфа банк, Валдай клуб, Министерства образования, Корп. Университета Сбербанка.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/naumov.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Денис Шевченко
                div  Директор и основатель,
                div «Фабрика новостей»
            div.lFooterAdgendaText(style="color: white;")
                div &nbsp;
                div Руководитель проекта и главный архитектор сервиса MAY24:Onevent.
                div &nbsp;
                div Руководитель разработки системы автоматизации ТВ «Фабрика новостей»
                div &nbsp;
                div Главный технолог проектов системной интеграции на более чем 70 телекомпаниях РФ и СНГ.
                div &nbsp;
                div 2014-2019 Технический руководитель трансляции прямых диалогов Г.О.Грефа с сотрудниками Сбербанка.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/shevchenko.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Александр Цуркан
                div  Генеральный директор,
                div «ТМ-проджект»
            div.lFooterAdgendaText(style="color: white;")
                div &nbsp;
                div Менеджер проекта Оnevent по взаимоотношениям с клиентами и административному сопровождению.
                div &nbsp;
                div 2008-2020 управление проектами по организации фестивалей, международных форумов, отраслевых и профессиональных конференций: BRICS, ФАС России, ПАО Газпром нефть, РФС, Банк России, Grey Goose, Martell, Nespresso, San Pellegrino.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/zurkan.png")


