div.lFooterHead.headTitle
    div Демонстрация возможностей
    div платформы проведения онлайн мероприятий
    div «Onevent»
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Александр Яковлев
                div Руководитель коммерческих проектов
                div АО "Деловая среда"
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;
                div Автор и разработчик методических материалов для бизнеса «Портфель предпринимателя».
                div Опыт работы с органами исполнительной власти 71 субъекта РФ.
                div Бизнес-тренер с самым высоким индексом NPS от АО «Деловая среда».
                div Предприниматель с 12-летним стажем.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/yakovlev.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Андрей Романенко
                div Основатель и генеральный директор
                div компании «Эвотор»,
                div предприниматель, инвестор
            div.lFooterAdgendaText
                div &nbsp;

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/romanenko.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Сергей Малышев
                div Генеральный директор
                div ООО «Сберлогистика»
                div &nbsp;
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/malyshev.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Евгений Луконькин
                div Директор департамента
                div региональных продаж
                div ООО «Сберлогистика»
            div.lFooterAdgendaText
                div &nbsp;

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/lukonkin.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Анна Ветринская
                div Руководитель агентского направления
                div компании СБЕР Маркетинг
                div &nbsp;
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/vert.jpg")
    //div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Константин Наумов
                div Генеральный директор и основатель,
                div «Айрон ВК»
            div.lFooterAdgendaText
                div &nbsp;
                div Менеджер проекта Оnevent в части организации видеосьемок и трансляции.
                div &nbsp;
                div 2007-2014 Руководитель проекта РИАТВ в рамках реорганизации редакции РИА Новости.
                div &nbsp;
                div 2012-2020 Архитектор многокамерных трансляций с интерактивной составляющей для Сбербанк, Альфа банк, Валдай клуб, Министерства образования, Корп. Университета Сбербанка.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/naumov.png")
    //div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Денис Шевченко
                div  Директор и основатель,
                div «Фабрика новостей»
            div.lFooterAdgendaText
                div &nbsp;
                div Руководитель проекта и главный архитектор сервиса MAY24:Onevent.
                div &nbsp;
                div Руководитель разработки системы автоматизации ТВ «Фабрика новостей»
                div &nbsp;
                div Главный технолог проектов системной интеграции на более чем 70 телекомпаниях РФ и СНГ.
                div &nbsp;
                div 2014-2019 Технический руководитель трансляции прямых диалогов Г.О.Грефа с сотрудниками Сбербанка.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/shevchenko.png")



