div.lFooterHead.headTitle
    div Стартовая конференция
    div программы опережающего развития
    div руководителей инжинирингового дивизиона
    div «Новая высота»
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox
    div.progRow
        div.progTime 09:30 - 10:00
        div.progText
            div.progHeader
            div.progDescr Сбор участников на платформе OnEvent, технические моменты: проверка связи.
    div.progRow
        div.progTime 10:00
        div.progText
            div.progHeader Срини Сринивасан
            div.progDescr WDO и международный день дизайна.

    div.progRow
        div.progTime 10:40
        div.progText
            div.progHeader Дарья Топильская
            div.progDescr Дизайн для дела. Инициативы 2050.ЛАБ для развития отрасли промышленного дизайна.Дизайн для дела. Инициативы 2050.ЛАБ для развития отрасли промышленного дизайна.
    div.progRow
        div.progTime 11:10
        div.progText
            div.progHeader Никола Гуэльфо
            div.progDescr Как виртуальное становится реальным: VR и AR технологии в транспортной индустрии.
    div.progRow
        div.progTime 11:50
        div.progText
            div.progHeader Александр Остер
            div.progDescr Генеративный дизайн: новая парадигма созидания.
    div.progRow
        div.progTime 12:35
        div.progText
            div.progHeader Максим Чащин, Даниил Кузвесов
            div.progDescr Дизайн-диалог: «Куда едем?»
    div.progRow
        div.progTime 13:10
        div.progText
            div.progHeader Сергей Смирнов, Кристина Дубинина, Алексей Карфидов, Сергей Салихов, Виталий Ставицкий
            div.progDescr 	Перерыв






