div.lFooterHead.headTitle
    div Серия онлайн-конференций для крупного и среднего бизнеса «Трансформируйся сейчас».
    div Непрерывность бизнеса: антикризисные меры.
    div СБЕР Решения о том, как компаниям смягчить последствия кризиса.
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 10:00 - 10:30
        div.lFooterProgItemDescr  Как изменились привычки населения
    div.lFooterProgItem
        div.lFooterProgItemTime 10:30 – 11:10
        div.lFooterProgItemDescr  DocDoc о возможностях поддержки сотрудников
    div.lFooterProgItem
        div.lFooterProgItemTime 11:10 – 12:00
        div.lFooterProgItemDescr  Общение гостей и участников конференции
div.lFooterAdgendaBox
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Владимир Ситнов
                div Старший вице-президент, Сбербанк
                div &nbsp;
            div.lFooterAdgendaText
                div В Сбербанке с 2000 года, возглавлял управление кредитования и был председателем Поволжского банка. С 2018 года в центральном аппарате на должности Старшего вице-президента, курирует четыре сегмента блока «Корпоративно-инвестиционный бизнес». Кандидат экономических наук, окончил Самарскую государственную экономическую академию и Высшую школу приватизации и предпринимательства, получил степень МВА в Академии народного хозяйства при правительстве РФ. Прошёл обучение по программе LBS-Sberbank Programme in Management and Finance for Bankers в Centre for Management Development Company Limited.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/photo_sitnov.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Ани Асланян
                div  Основатель, Телеграм–канал
                div «Все о блокчейн»
            div.lFooterAdgendaText
                div  Член экспертного совета по экономической политике, промышленности, инновационному развитию и предпринимательству Госдумы РФ.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/aslanyan.png")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName Наталья Подвойская
                div CEO, СБЕР Решения
                div &nbsp;
            div.lFooterAdgendaText
                div Имеет 17-летний опыт в области консалтинга, трансформации компаний и аутсорсинга бизнес-процессов. Развивала аутсорсинг в рамках экосистемы Сбербанка, руководила практикой КПМГ СНГ по финансовому менеджменту и общим центрам обслуживания. Осуществила десятки проектов в области оптимизации финансовой, HR и других функций в компаниях. К. э. н., окончила экономической факультет и Высшую школу бизнеса МГУ имени М. В. Ломоносова, The Chicago Booth School of Business и London Business School.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/photo_podvoy.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Сергей Малышев
                div CEO, СберЛогистика
                div &nbsp;
            div.lFooterAdgendaText
                div Около 15 лет занимал ведущие позиции в таких компаниях, как ООО «Старт Дистрибьюшн Компании», ООО «Хоуп-С», ООО «Гласс Трейдинг». В 2005—2014 годах — вице-президент по специализированному бизнесу в ООО «Евросеть-Ритейл». В 2014—2019 годах — заместитель генерального директора ФГУП «Почта России». С мая 2019 года — генеральный директор ООО «СберЛогистика».


            div.lFooterAdgendaAvatar
                img(src="/images/speakers/photo_malyshev.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr
            div.qItemName
                div Константин Мандельштам
                div  CEO, Unifood
                div &nbsp;
            div.lFooterAdgendaText
                div Имеет 25-летний опыт в области проектного управления и менеджмента производственных компаний в сфере FMCG. Реализовал проект строительства завода «Дирол Кедбери» и в дальнейшем был его директором. Руководил производством, инвестиционными и M&A проектами российского подразделения компании «Фацер Групп». Сейчас возглавляет дочернее предприятие крупнейшей новозеландской молочной компании Fonterra — Unifood. Закончил Санкт-Петербургский морской технический университет по специальности «Приборостроение», Проектный институт в Хельсинки и бизнес-школу IMD.
            div.lFooterAdgendaAvatar
                img(src="/images/speakers/photo_mald.jpg")

