div.lFooterHead.headTitle
    div ОНЛАЙН-КОНФЕРЕНЦИЯ
    div Как настроить продажи онлайн
    div и организовать доставку
//div.lFooterProg
    div.lFooterProgItem
        div.lFooterProgItemTime 16:00-16:30
        div.lFooterProgItemDescr  Onevent как совокупность сервисов. Презентация.
    div.lFooterProgItem
        div.lFooterProgItemTime 16:30- 17:00
        div.lFooterProgItemDescr  Возможности платформы на примере текущей конференции. Демонстрация.
    div.lFooterProgItem
        div.lFooterProgItemTime 17:00-17:30
        div.lFooterProgItemDescr  Обсуждение, вопросы и ответы.
div.lFooterAdgendaBox
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Александр Яковлев
                div Руководитель коммерческих проектов
                div АО "Деловая среда"
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;
                div Автор и разработчик методических материалов для бизнеса «Портфель предпринимателя».
                div Опыт работы с органами исполнительной власти 71 субъекта РФ.
                div Бизнес-тренер с самым высоким индексом NPS от АО «Деловая среда».
                div Предприниматель с 12-летним стажем.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/yakovlev.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Андрей Романенко
                div Основатель и генеральный директор
                div компании «Эвотор»,
                div предприниматель, инвестор
            div.lFooterAdgendaText
                div &nbsp
                div Экспертиза: цифровая трансформация бизнеса, предпринимательство, экономика экосистем, бизнес-стратегия, стратегический менеджмент, бизнес в ИТ, ИТ в ритейле.
                div Предприниматель и инвестор. Свою первую фирму «Магазин Пластиковых Карт» организовал в 2000 году. В 2004 году создал компанию ОСМП (ныне QIWI), где в 2008 году стал президентом. В 2016 году стал сооснователем и акционером Эвотора.
                div Один из основателей и соучредителей, член совета директоров более десятка российских компаний. Соинвестор венчурных фондов Run Capital и AddVenture III. Акционер мобильного оператора SIM SIM.
                div В 2010 году занял первое место в рейтинге «Самых успешных мужчин России моложе 33 лет» журнала «Финанс». В 2012 году стал национальным победителем конкурса «Предприниматель года» компании «Эрнст энд Янг», а также получил награду в номинации «Финансовый сервис». Лауреат премии World Finance Awards «Предприниматели года 2015» Восточной Европы в категории «Финансовые сервисы».
                div Окончил Международный независимый эколого-политологический университет (Москва) по специальности «менеджмент».


        div.lFooterAdgendaAvatar
                img(src="/images/speakers/romanenko.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Сергей Малышев
                div Генеральный директор
                div ООО «Сберлогистика»,
                div компании экосистемы Сбербанка.
            div.lFooterAdgendaText
                div &nbsp;
                div Около 15 лет занимал ведущие позиции в таких фирмах, как ООО «Старт Дистрибьюшн Компании», ООО «Хоуп-С», ООО «Гласс Трейдинг». В 2005–2014 годах — вице-президент по специализированному бизнесу ООО «Евросеть-Ритейл». В 2014 – 2019 годах — заместитель генерального директора ФГУП «Почта России». С мая 2019 года – генеральный директор ООО «Сберлогистика».

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/malyshev.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Евгений Луконькин
                div Директор департамента
                div региональных продаж
                div ООО «Сберлогистика»
            div.lFooterAdgendaText
                div &nbsp;
                div Начал свою профессиональную деятельность на рынке FMCG, где прошёл путь от торгового представителя до директора филиала. В 2014 году возглавил департамент продаж в  DPD в России по ДФО. С 2016 года занимал должность заместителя директора Макрорегиона Дальний Восток по посылочному бизнесу и экспресс-доставке в ФГУП «Почта России». С июля 2019 года – директор департамента региональных продаж в ООО «Сберлогистика».

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/lukonkin.jpg")
    div.lFooterAdgendaItem
        div.lFooterAdgendaWr(style="height: 320px;")
            div.qItemName
                div Анна Ветринская
                div Руководитель агентского направления
                div компании СБЕР Маркетинг
                div &nbsp;
                div &nbsp;
            div.lFooterAdgendaText
                div &nbsp;
                div Анна работает в отрасли рекламы и маркетинга более 14 лет. Отвечала за развитие агентства Adventum, была его генеральным директором и партнером.  Также Анна основала агентство Digital Мастерская, в котором была генеральным директором на протяжении пяти лет. В профессиональные интересы Анны входит performance, brandformance, marketing and advertising technology.

            div.lFooterAdgendaAvatar
                img(src="/images/speakers/vert.jpg")



