<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
<desc>Created with Sketch.</desc>
<defs></defs>
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="Tablet" transform="translate(-200.000000, -491.000000)" fill="#000000" fill-rule="nonzero">
<g id="Group" transform="translate(15.000000, 381.000000)">
<g id="entypo-link" transform="translate(183.000000, 108.000000)">
<g id="Icon">
<path d="M7.859,14.691 L7.049,15.496 C6.34298297,16.1909293 5.21001703,16.1909293 4.504,15.496 C4.16982686,15.1650793 3.9818145,14.714298 3.9818145,14.244 C3.9818145,13.773702 4.16982686,13.3229207 4.504,12.992 L7.484,10.037 C8.101,9.424 9.263,8.522 10.11,9.362 C10.3582081,9.62666391 10.7311102,9.7346989 11.0823573,9.64370558 C11.4336043,9.55271226 11.7071481,9.27721034 11.7956338,8.92532323 C11.8841195,8.57343613 11.7734275,8.20131407 11.507,7.955 C10.069,6.527 7.941,6.791 6.088,8.63 L3.108,11.586 C2.3967109,12.2872569 1.99740556,13.2451573 2,14.244 C1.99751836,15.2428203 2.39680623,16.2006787 3.108,16.902 C3.81769633,17.6059523 4.77739332,18.0000429 5.777,17.998 C6.744,17.998 7.711,17.633 8.446,16.902 L9.257,16.097 C9.44379437,15.9122687 9.5493241,15.6607491 9.55026235,15.3980384 C9.55120061,15.1353278 9.44747011,14.8830608 9.262,14.697 C8.87555894,14.3095172 8.24874104,14.3068366 7.859,14.691 Z M16.891,3.207 C15.344,1.673 13.182,1.59 11.752,3.01 L10.743,4.012 C10.4918423,4.26137138 10.392801,4.62579109 10.4831841,4.96798574 C10.5735672,5.3101804 10.8396433,5.57816249 11.1811841,5.67098576 C11.5227249,5.76380902 11.8878423,5.66737139 12.139,5.418 L13.149,4.417 C13.889,3.681 14.86,3.986 15.495,4.614 C15.831,4.949 16.017,5.393 16.017,5.866 C16.017,6.339 15.831,6.783 15.495,7.117 L12.315,10.271 C10.861,11.712 10.179,11.037 9.888,10.748 C9.63684229,10.4986286 9.27172495,10.402191 8.93018414,10.4950143 C8.58864333,10.5878375 8.32256724,10.8558196 8.23218414,11.1980143 C8.14180104,11.5402089 8.24084229,11.9046286 8.492,12.154 C9.16,12.816 9.922,13.144 10.72,13.144 C11.697,13.144 12.73,12.652 13.713,11.677 L16.893,8.524 C17.6026871,7.82174461 18.0013977,6.86440693 18,5.866 C18.0018107,4.8668223 17.6022376,3.90878374 16.891,3.207 Z" id="Icon-Shape"></path>
<rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="20" height="20"></rect>
</g>
</g>
</g>
</g>
</g>
</svg>