<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
<desc>Created with Sketch.</desc>
<defs></defs>
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
<g id="Tablet" transform="translate(-95.000000, -559.000000)" fill="#000000" fill-rule="nonzero">
<g id="Group" transform="translate(-85.000000, 381.000000)">
<g id="wpf-password1" transform="translate(180.000000, 178.000000)">
<g id="Icon">
<path d="M13.5576923,0.144615385 C12.2669231,0.144615385 11.0638462,0.667692308 10.0723077,1.65846154 C8.94615385,2.78461538 8.43076923,4.16923077 8.58153846,5.64923077 C8.69461538,6.74769231 9.19615385,7.85538462 10,8.84615385 L4.42307692,14.4230769 L3.41307692,13.4130769 C2.92076923,12.9184615 2.51230769,13.3284615 2.01923077,13.8223077 L1.53846154,14.3269231 C1.04461538,14.8184615 0.636923077,15.2038462 1.13,15.6969231 L2.13846154,16.7076923 L1.34615385,17.5 C1.10916385,17.7353824 0.975888274,18.0555958 0.975888274,18.3896154 C0.975888274,18.723635 1.10916385,19.0438484 1.34615385,19.2792308 C1.83846154,19.7707692 2.63153846,19.7707692 3.12538462,19.2792308 L11.8753846,10.5292308 C12.8230769,11.1230769 13.8523077,11.4423077 14.8553846,11.4423077 C16.1453846,11.4423077 17.3507692,10.9192308 18.3415385,9.92769231 C19.4684615,8.80230769 19.9830769,7.41769231 19.8315385,5.93769231 C19.6961538,4.60615385 18.9892308,3.26615385 17.8607692,2.13923077 C16.5823077,0.859230769 15.0553846,0.143846154 13.5576923,0.143846154 L13.5576923,0.144615385 Z M13.6061538,1.73076923 C14.6776923,1.73076923 15.7907692,2.27923077 16.7546154,3.24538462 C17.6115385,4.09923077 18.1461538,5.09307692 18.2453846,6.05769231 C18.3476923,7.06076923 17.9946154,8.01615385 17.2115385,8.79846154 C16.51,9.49846154 15.6923077,9.85538462 14.8076923,9.85538462 C13.7353846,9.85538462 12.6246154,9.30615385 11.6584615,8.34153846 C10.8023077,7.48538462 10.2676923,6.49384615 10.1684615,5.52923077 C10.0669231,4.52615385 10.4184615,3.57153846 11.2023077,2.78846154 C11.9038462,2.08846154 12.7215385,1.73076923 13.6053846,1.73076923 L13.6061538,1.73076923 Z" id="Icon-Shape"></path>
<rect id="Icon-Rectangle-path" fill-opacity="0" x="0" y="0" width="20" height="20"></rect>
</g>
</g>
</g>
</g>
</g>
</svg>