#roomVote.rFeedGroup(v-if="votes.length>0")
    div.rFeedGroupTitle
        div.rFeedGroupBody
            div.qItem(v-for="item in votes" v-if="item.isactive" )
                div.qItemName {{item.title}}
                    span.red(v-if="item.iscompl") &nbsp; Голосование окончено.
                div.vAnswBox
                    div.vAnsw(v-for="answ in sortedVoteAnsvers(item.answers)" v-on:click="vote(answ, item)" v-bind:class="{ready:answIsReady(answ)}")
                        div.vAnswTitle
                            span(v-if="item.iscompl") {{CalcAnswPercent(answ, item)}}%,&nbsp
                            span {{answ.title}}
                            div.vAnswPercent(v-if="item.iscompl" v-bind:style="{width:CalcAnswPercent(answ, item)+'%'}")