html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    //link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    <link rel="apple-touch-icon" sizes="57x57" href="/images/cbicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/cbicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/cbicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/cbicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/cbicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/cbicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/cbicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/cbicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/cbicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/cbicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/cbicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/cbicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/cbicons/favicon-16x16.png">
    <link rel="manifest" href="/images/cbicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/cbicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/images/cbicons/favicon.ico" type="image/x-icon">
    meta( property="og:title" content=title)
    <meta property="og:site_name" content="Пресс-конференция Банка России">
    <meta property="og:url" content="https://cbr-online.ru/>
    <meta property="og:description" content=" ">
    <meta property="og:image" content="https://cbr-online.ru/images/cb.png">
    title= title

    script(src="/lib/socket.io.js")
    script(src="/lib/axios.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/moment.ru.js")
    script(src="/lib/vue.min.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/cbrRoom.css')

    script(src="/javascripts/cbrScript.js")
  body
    div#loginApp(style="opacity:1")
      div.wnd
        div.cbLoginLeft
          div.cbLoginLogo
            <svg width="240" height="61" viewBox="0 0 240 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.0319 0C13.437 0 0 13.4582 0 30.0319C0 46.6268 13.4582 60.0638 30.0319 60.0638C46.6268 60.0638 60.0849 46.6056 60.0849 30.0319C60.0849 13.4582 46.6268 0 30.0319 0ZM30.0319 57.7536C14.7298 57.7536 2.31014 45.3339 2.31014 30.0319C2.31014 14.7298 14.7086 2.31014 30.0319 2.31014C45.3339 2.31014 57.7536 14.7086 57.7536 30.0319C57.7536 45.3551 45.3551 57.7536 30.0319 57.7536Z" fill="#77787B"/>
            <path d="M30.0316 52.5823C31.0701 52.5823 31.7059 51.8829 31.7271 50.9292C31.9603 51.3531 32.257 51.6498 32.7021 51.7346C33.1259 51.8193 33.6134 51.7557 34.0161 51.5862C34.44 51.4166 34.7367 51.1199 34.9486 50.7172C35.1394 50.3146 35.0758 49.8907 34.9486 49.4032C35.4361 50.1026 36.2627 50.2934 36.9832 49.9543C37.9794 49.488 38.3397 48.6402 37.937 47.6653C36.7077 44.7405 35.4785 41.8582 34.2492 38.9334C34.1433 38.6791 34.0373 38.4035 33.9101 38.128C33.8042 37.8949 33.7194 37.7253 33.6346 37.577C33.571 37.471 33.465 37.3862 33.3379 37.3226C35.2453 37.5346 36.1779 38.2976 36.6865 38.6155C36.8137 38.7003 36.8137 38.7214 37.3224 38.5519C37.5555 38.4671 37.831 38.5307 38.0006 38.6367C38.2337 38.7638 38.4668 38.9122 38.6788 39.0605C39.357 39.5904 40.0564 40.1202 40.7134 40.6925C41.0101 40.968 41.4552 41.4131 41.3916 41.837C41.3492 42.2185 40.3955 43.1086 40.12 43.3841C39.4418 44.0199 40.4591 45.2068 41.8155 45.1008C41.4552 44.7193 41.3704 44.4014 41.4128 44.1259C41.54 44.1259 41.7943 44.1471 42.0486 43.9352C42.3453 43.6808 42.2182 42.8967 42.4725 42.6423C42.9388 42.1761 44.4859 42.1337 45.4185 42.0913C45.7999 42.0701 46.2238 41.9641 46.1814 41.3707C46.7749 41.4131 46.902 41.8582 46.902 42.2396C47.4107 41.9429 47.8346 40.5865 45.9695 40.2686C46.2874 39.9931 46.8173 39.8659 47.1352 40.2474C47.4319 39.7388 46.6689 38.7426 45.2913 39.3149C45.2913 39.3149 44.6767 38.4883 42.7904 40.5865C42.5573 40.417 42.3241 40.2262 42.1122 40.0355C41.3916 39.3785 39.5689 37.5982 39.5689 37.5982C39.5689 36.602 39.4206 34.6522 38.0853 33.4865C37.5131 32.9991 36.9832 32.7236 35.7752 32.5116C35.7752 32.5116 36.3474 31.6003 36.4534 31.24C37.4919 32.2785 39.5901 32.5964 39.5901 30.8373C41.3068 32.554 42.8752 31.6215 42.8752 30.5618C42.9388 31.0916 43.0659 31.6639 43.2355 32.1513C43.4474 32.7236 44.2316 34.9277 46.245 34.9277C46.2874 35.6907 46.2874 38.2128 48.7035 38.785C48.8095 38.8062 48.9367 38.8486 49.0002 38.9334C49.9752 40.1414 54.0232 41.4131 54.5319 41.074C54.214 40.8408 53.7265 40.5441 53.6417 39.1241C53.5993 38.1916 53.4934 33.317 53.4934 26.4501C53.4934 24.0128 53.239 16.1499 45.4396 15.0478C44.2528 14.8782 43.0871 14.963 42.091 15.726C40.7134 16.7433 40.0564 18.4812 40.8617 20.431C40.8829 20.4946 40.9041 20.5794 40.9465 20.6218C41.222 21.0881 41.1161 21.4907 40.7558 21.851C40.0988 22.4869 39.357 22.9319 38.4456 23.0379C37.8734 23.1015 37.3859 22.8472 37.0044 22.4657C36.1355 21.5755 35.5209 20.5158 35.3301 19.2654C34.9698 16.8916 35.5633 15.726 35.5844 15.6412C36.2203 14.3696 37.5555 13.437 39.1238 13.3099C39.8444 11.9746 41.8791 12.5045 41.8791 12.5045C42.3877 12.6105 42.5785 12.7588 42.7056 13.0131C42.7056 13.0131 43.5958 11.6355 42.748 11.0845C41.9002 10.5334 40.014 10.3003 40.014 10.3003C40.014 9.41017 38.5304 8.71076 35.8812 9.19823C32.6597 9.77046 31.9603 8.52002 31.9603 8.52002C31.8331 10.0672 32.9988 10.8514 33.3803 11.0633C32.151 12.3985 30.4555 15.0478 30.0316 18.7991C29.6289 15.0478 27.9122 12.3773 26.683 11.0633C27.0645 10.8514 28.2301 10.046 28.103 8.52002C28.103 8.52002 27.4036 9.77046 24.1821 9.19823C21.5116 8.73196 20.0493 9.41017 20.0493 10.3003C20.0493 10.3003 18.163 10.5334 17.3152 11.0845C16.4675 11.6355 17.3576 13.0131 17.3576 13.0131C17.4848 12.7588 17.6755 12.6105 18.1842 12.5045C18.1842 12.5045 20.24 11.9746 20.9394 13.3099C22.5078 13.437 23.843 14.3696 24.4788 15.6412C24.5212 15.726 25.1358 16.8916 24.7331 19.2654C24.5212 20.5158 23.9278 21.5543 23.0588 22.4657C22.6773 22.8683 22.211 23.1227 21.6176 23.0379C20.7063 22.9319 19.9433 22.4869 19.3075 21.851C18.9472 21.4907 18.8412 21.0881 19.1167 20.6218C19.1591 20.5582 19.1803 20.4946 19.2015 20.431C20.0069 18.4812 19.3287 16.7645 17.9722 15.726C16.9761 14.9842 15.8105 14.8994 14.6236 15.0478C6.8454 16.1499 6.56988 24.0128 6.56988 26.4501C6.56988 33.317 6.46391 38.1916 6.42152 39.1241C6.33674 40.5441 5.84928 40.8408 5.53137 41.074C6.01883 41.4131 10.0881 40.1414 11.063 38.9334C11.1266 38.8486 11.2537 38.8274 11.3597 38.785C13.7758 38.2128 13.7758 35.6907 13.8182 34.9277C15.8316 34.9277 16.6158 32.7236 16.8278 32.1513C16.9973 31.6639 17.1457 31.0916 17.1881 30.5618C17.1881 31.6427 18.7776 32.554 20.4731 30.8373C20.4731 32.5964 22.5713 32.2785 23.6098 31.24C23.6946 31.6003 24.288 32.5116 24.288 32.5116C23.1012 32.7236 22.5501 32.9991 21.9779 33.4865C20.6427 34.6522 20.4943 36.602 20.4943 37.5982C20.4943 37.5982 18.6716 39.3785 17.951 40.0355C17.7391 40.2262 17.506 40.417 17.2728 40.5865C15.4078 38.4883 14.772 39.3149 14.772 39.3149C13.3943 38.7638 12.6102 39.7388 12.9281 40.2474C13.246 39.8871 13.7758 39.9931 14.0937 40.2686C12.2287 40.5865 12.6526 41.9641 13.1612 42.2396C13.1612 41.837 13.2884 41.4131 13.8818 41.3707C13.8606 41.9853 14.2633 42.0913 14.6448 42.0913C15.5773 42.1337 17.1245 42.1761 17.5908 42.6423C17.8663 42.8967 17.7391 43.6808 18.0146 43.9352C18.2478 44.1471 18.5233 44.1259 18.6505 44.1259C18.6928 44.4014 18.6081 44.7193 18.2478 45.1008C19.6042 45.2068 20.6003 44.0199 19.9433 43.3841C19.6678 43.1086 18.714 42.2185 18.6716 41.837C18.6081 41.4131 19.0531 40.968 19.3499 40.6925C20.0069 40.1202 20.7063 39.5904 21.3845 39.0605C21.5964 38.891 21.8295 38.7638 22.0627 38.6367C22.2534 38.5307 22.5078 38.4883 22.7409 38.5519C23.2495 38.7214 23.2495 38.7003 23.3767 38.6155C23.8854 38.2764 24.7967 37.5346 26.7254 37.3226C26.5982 37.4074 26.5134 37.4922 26.4286 37.577C26.3227 37.7253 26.2591 37.8949 26.1531 38.128C26.026 38.3823 25.9412 38.6579 25.814 38.9334C24.5848 41.8582 23.3555 44.7405 22.1263 47.6653C21.7236 48.6402 22.0839 49.488 23.08 49.9543C23.8006 50.2934 24.6272 50.1026 25.1146 49.4032C24.9663 49.8907 24.9027 50.2934 25.1146 50.7172C25.3054 51.1199 25.6233 51.4166 26.0472 51.5862C26.4498 51.7557 26.9161 51.8193 27.3612 51.7346C27.8063 51.6498 28.103 51.3531 28.3361 50.9292C28.3785 51.8829 28.9931 52.5823 30.0316 52.5823Z" fill="#77787B"/>
            <path d="M80.7696 19.5617C82.4227 19.5617 85.8138 19.4134 87.7424 19.2862C87.6789 19.6465 87.6577 20.1976 87.6577 20.3459C87.6577 20.5578 87.7212 21.0241 87.7424 21.3632C86.0257 21.1301 83.1645 20.9393 82.2956 20.9393C81.681 20.9393 79.2648 21.0029 77.972 21.1089V28.548H79.4768C82.5711 28.548 89.0565 29.1414 89.0565 34.5035C89.0565 38.8695 85.4111 40.8617 80.6001 40.8193C80.0702 40.8193 78.0568 40.7345 76.7639 40.7345C76.2129 40.7345 75.5135 40.7557 75.0472 40.8193C75.238 37.5554 75.2804 33.0411 75.2804 29.311C75.2804 25.9623 75.2592 20.897 75.0472 19.265C76.9335 19.371 80.0914 19.5617 80.7696 19.5617ZM77.9508 39.145C78.7138 39.1662 79.6463 39.2086 80.4729 39.2086C83.9699 39.2086 86.0045 37.5766 86.0045 34.5247C86.0045 31.2396 83.5884 30.1587 77.9508 30.1587V39.145Z" fill="#77787B"/>
            <path d="M92.4046 27.5946C93.5703 26.1746 95.6897 25.5599 97.47 25.5599C100.585 25.5599 102.747 27.1071 102.747 30.816V38.1704C102.747 39.6751 103.065 40.0354 103.701 40.0354C103.913 40.0354 104.231 39.9718 104.422 39.9083L104.591 40.6289C103.637 41.0951 102.747 41.2011 102.366 41.2011C101.391 41.2011 100.776 40.756 100.522 39.8871L100.352 39.2301C98.7416 40.5017 97.0037 41.1799 95.5413 41.1799C92.8497 41.1799 91.0906 39.7599 91.0906 37.259C91.0906 34.5886 93.0828 33.3381 95.8168 32.8507L98.8476 32.2784C99.8649 32.1089 100.395 31.8122 100.395 31.0704C100.395 27.8277 99.0383 27.0011 96.7706 27.0011C95.0115 27.0011 93.7186 27.5098 92.7649 29.4384H92.4046V27.5946ZM100.395 33.211L98.4237 33.5077C96.2831 33.8256 93.9094 34.5674 93.9094 36.8351C93.9094 38.5518 94.8631 39.4844 96.7918 39.4844C97.9786 39.4844 99.1655 39.0605 100.395 37.7889V33.211Z" fill="#77787B"/>
            <path d="M108.661 25.9407C108.978 25.9407 109.614 25.8772 110.059 25.856C109.826 28.1025 109.784 31.8539 109.784 32.0022C111.034 32.0658 112.836 32.1294 113.789 32.1294C114.764 32.1294 116.629 32.0658 117.52 32.0022C117.52 31.8327 117.498 28.0813 117.265 25.856C117.753 25.8772 118.41 25.9407 118.77 25.9407C119.109 25.9407 119.724 25.8772 120.169 25.856C119.936 28.0813 119.893 31.8115 119.893 33.3586C119.893 34.6091 119.915 38.6147 120.169 40.8613C119.724 40.7977 119.258 40.7765 118.812 40.7765C118.304 40.7765 117.71 40.7977 117.286 40.8613C117.52 38.6147 117.541 34.6091 117.541 33.6553C116.227 33.5706 114.446 33.4434 113.768 33.4434C112.963 33.4434 110.971 33.507 109.784 33.5918C109.784 34.6091 109.805 38.6147 110.059 40.8613C109.614 40.7977 109.148 40.7765 108.703 40.7765C108.194 40.7765 107.601 40.7977 107.156 40.8613C107.389 38.6147 107.41 34.6091 107.41 33.3586C107.41 31.8539 107.389 28.0813 107.156 25.856C107.664 25.8772 108.321 25.9407 108.661 25.9407Z" fill="#77787B"/>
            <path d="M125.722 25.9407C126.04 25.9407 126.676 25.8772 127.1 25.856C126.867 28.0813 126.846 31.8539 126.846 32.3837H127.312C128.287 32.3837 133.31 26.6825 133.776 25.856C134.2 25.8772 134.878 25.9407 135.217 25.9407C135.514 25.9407 136.235 25.8772 136.68 25.856L129.601 32.2142C130.491 33.2739 135.196 38.5935 137.337 40.8825C136.531 40.8189 135.98 40.7977 135.556 40.7977C135.026 40.7977 134.221 40.8189 133.585 40.8825C132.483 39.1658 129.135 35.2237 127.291 33.1891H126.824C126.824 34.2912 126.846 38.6147 127.079 40.8825C126.634 40.8189 126.167 40.7977 125.722 40.7977C125.235 40.7977 124.62 40.8189 124.175 40.8825C124.408 38.6359 124.451 34.6303 124.451 33.3798C124.451 31.875 124.429 28.1025 124.175 25.8771C124.705 25.8771 125.362 25.9407 125.722 25.9407Z" fill="#77787B"/>
            <path d="M150.455 19.3703C151.494 19.3703 152.829 19.2855 153.592 19.2855C159.081 19.2855 161.222 20.9387 161.222 24.69C161.222 29.5222 157.152 31.0694 152.32 31.0694C152.045 31.0694 150.921 31.0058 150.349 30.9422V36.0712C150.349 37.5547 150.413 39.3562 150.582 40.8398C150.074 40.7762 149.565 40.755 149.056 40.755C148.526 40.755 147.891 40.7762 147.424 40.8398C147.615 37.5759 147.657 33.0616 147.657 29.3315C147.657 25.9828 147.636 20.9175 147.424 19.2855C148.442 19.3067 149.777 19.3703 150.455 19.3703ZM151.621 29.501C155.775 29.501 158.212 27.8479 158.212 24.69C158.212 21.744 155.902 20.9598 153.02 20.9598C152.511 20.9598 150.794 20.981 150.37 21.0446V29.3739C150.731 29.4374 151.324 29.501 151.621 29.501Z" fill="#77787B"/>
            <path d="M176.672 33.2534C176.672 37.7889 173.726 41.1799 169.085 41.1799C164.507 41.1799 161.667 37.8313 161.667 33.6772C161.667 28.7602 164.804 25.5599 169.361 25.5599C173.854 25.5599 176.672 28.8238 176.672 33.2534ZM164.486 33.5925C164.486 36.9411 165.885 40.0354 169.021 40.0354C172.052 40.0354 173.854 37.1319 173.854 33.1474C173.854 29.9471 172.603 26.7044 169.255 26.7044C166.054 26.7044 164.486 30.0531 164.486 33.5925Z" fill="#77787B"/>
            <path d="M191.211 29.0776H190.851C189.812 27.3821 188.371 26.7039 186.718 26.7039C183.242 26.7039 181.589 30.0525 181.589 33.3164C181.589 37.0889 183.666 40.0137 187.333 40.0137C188.562 40.0137 189.643 39.8442 191.359 37.9579L191.635 38.2758L191.275 39.7382C189.855 40.6919 188.244 41.1582 186.421 41.1582C181.801 41.1582 178.77 37.9155 178.77 33.3588C178.77 28.5901 182.034 25.5382 186.803 25.5382C188.35 25.5382 190.045 25.8349 191.932 26.8522L191.211 29.0776Z" fill="#77787B"/>
            <path d="M206.196 29.0776H205.835C204.797 27.3821 203.356 26.7039 201.724 26.7039C198.248 26.7039 196.595 30.0525 196.595 33.3164C196.595 37.0889 198.672 40.0137 202.359 40.0137C203.568 40.0137 204.67 39.8442 206.386 37.9579L206.641 38.2758L206.28 39.7382C204.86 40.6919 203.25 41.1582 201.427 41.1582C196.807 41.1582 193.776 37.9155 193.776 33.3588C193.776 28.5901 197.04 25.5382 201.808 25.5382C203.356 25.5382 205.051 25.8349 206.937 26.8522L206.196 29.0776Z" fill="#77787B"/>
            <path d="M210.583 40.7765C210.392 40.7765 209.862 40.8401 209.629 40.8613C209.862 38.6147 209.904 34.6091 209.904 33.3586C209.904 31.8539 209.883 28.0813 209.629 25.856C210.138 25.8772 210.773 25.9407 211.134 25.9407C211.452 25.9407 212.087 25.8772 212.532 25.856C212.299 28.0813 212.278 31.8115 212.278 33.3586C212.278 34.6091 212.299 36.347 212.342 37.1947C213.974 35.2025 219.781 27.827 221.18 25.856C221.498 25.9195 221.709 25.9407 222.07 25.9407C222.239 25.9407 222.875 25.8772 223.193 25.856C222.96 28.0813 222.918 31.8115 222.918 33.3586C222.918 34.6091 222.939 38.6147 223.193 40.8613C222.748 40.7977 222.261 40.7765 221.837 40.7765C221.328 40.7765 220.735 40.7977 220.289 40.8613C220.523 38.6147 220.565 34.6091 220.565 33.3586C220.565 31.8115 220.544 29.9252 220.501 29.2894C218.488 31.3452 213.147 38.3392 211.452 40.8613C211.176 40.7977 210.901 40.7765 210.583 40.7765Z" fill="#77787B"/>
            <path d="M227.39 40.7765C227.199 40.7765 226.669 40.8401 226.436 40.8613C226.669 38.6147 226.69 34.6091 226.69 33.3586C226.69 31.8539 226.669 28.0813 226.436 25.856C226.945 25.8772 227.581 25.9407 227.941 25.9407C228.259 25.9407 228.895 25.8772 229.34 25.856C229.106 28.0813 229.085 31.8115 229.085 33.3586C229.085 34.6091 229.106 36.347 229.149 37.1947C230.781 35.2025 236.588 27.827 237.987 25.856C238.305 25.9195 238.517 25.9407 238.877 25.9407C239.046 25.9407 239.682 25.8772 240 25.856C239.767 28.0813 239.746 31.8115 239.746 33.3586C239.746 34.6091 239.767 38.6147 240 40.8613C239.555 40.7977 239.089 40.7765 238.644 40.7765C238.135 40.7765 237.542 40.7977 237.097 40.8613C237.33 38.6147 237.351 34.6091 237.351 33.3586C237.351 31.8115 237.33 29.9252 237.287 29.2894C235.274 31.3452 229.933 38.3392 228.238 40.8613C227.983 40.7977 227.708 40.7765 227.39 40.7765Z" fill="#77787B"/>
            </svg>
          div.cbLoginHead Пресс-конференция
          //div.cbLoginHead Встреча
          div.cbLoginTitle
            div по обзору несанкционированных операций,
            div совершенных без согласия клиентов в 2020 году
            //div «Экосистемы: подходы к регулированию»
            //div по итогам заседания Совета директоров по денежно-кредитной политике


          //div.cbLoginPerson Эльвира Набиуллина
          //div.cbLoginPosition Председатель Банка России

          div.cbLoginPerson Вадим Уваров
          div.cbLoginPosition директор Департамента информационной безопасности

          div.cbLoginPerson Артем Сычев
          div.cbLoginPosition первый заместитель директора Департамента информационной безопасности

          //div.cbLoginPerson Людмила Тяжельникова
          //div.cbLoginPosition Директор Департамента допуска и прекращения деятельности финансовых организаций

          div.cbLoginDate    12 апреля 2021 г., 14:30
        div.cbLoginRight
          div.cbLoginRightBox
            div.cbLoginRightTitle Регистрация
            div.cbLoginRightError
              span &nbsp;
              span(v-if="codeError") Введенный код неверен
            input.cbLoginRightCode(placeholder="Введите код" v-model="code" v-on:keypress="enterKeyDown($event)")
            div.cbLoginRightEnter(v-on:click="cbLogin()") Войти