extends layout
block head
    link(rel='stylesheet', href='/stylesheets/old.css')
    script.
        var roomid = #{room.id}
        var eventid = #{room.eventid}
        var room=!{JSON.stringify(room)}
    <script src="/lib/vue-youtube.js"></script>
    script(src="/javascripts/utils.js")
    script(src="/javascripts/moderatorScript.js")
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="/lib/autosize.min.js"></script>
    link(rel='stylesheet', href='/stylesheets/room.css')
    if event.isClientCss
        link(rel='stylesheet', href='/stylesheets/' + event.clientCss)

block content
    div.adminScreen.adminContainer(id="app" style="height: 100vh;" v-bind:class="{isPres:isPres}")

        div.aModBox(style="height:100%")
            div.aModSect(style="width:100%")
                div.aModSectMenu
                    div.aModSectMenuItem(v-bind:class="{active:lSectActiveIndex==2}" v-on:click="lSectActiveIndex=2")

                div.aSectBody(id="qBox" style="height:auto")
                    div.qItem(v-for="item in q"  v-bind:class="{ready:item.isReady}")

                        div.qItemName {{item.i}}&nbsp;{{item.f}}&nbsp;{{item.smi}}
                        //long-text(v-bind:itemtext="item.text")
                        div.qItemText(v-html="item.text")
                        div(style="text-align:center")
                            video.qItemVideo(v-bind:src="'/files/'+item.video" v-if="item.video" controls)
                        div.qItemPhoto(v-on:click="window.open('/files/'+item.photo)" v-bind:style="{backgroundImage:'url(/files/'+item.photo+')'}" v-if="item.photo" controls)

                        div.qItemDate
                            include elements/likes
                            .isReady(v-if="item.isReady" v-on:click="QsetNew(item)" style="cursor:pointer;color: red;") Показан, убрать с экрана
                            .isReady(v-if="!item.isReady" v-on:click="QsetOld(item)" style="cursor:pointer") Скрыт, показать








