html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    //link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

    <link rel="shortcut icon" href="/images/favicon_gpn.ico" type="image/x-icon">
    meta( property="og:title" content=title)
    <meta property="og:site_name" content="Пресс-завтрак">
    <meta property="og:url" content="https://cbr-online.ru/>

    title "Пресс-завтрак «Газпром нефти»"

    script(src="/lib/socket.io.js")
    script(src="/lib/axios.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/moment.ru.js")
    script(src="/lib/vue.min.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/gpnRoom.css')

    script(src="/javascripts/cbrScript.js")
  body
    div#loginApp(style="opacity:1")
      div.wnd
        div.cbLoginLeft

          div.cbLoginHead
          div.cbLoginTitle
            div Пресс-завтрак
            div  с участием
            div  начальника департамента
            div  стратегии и инноваций
            div «Газпром нефти»
            div Сергеем Вакуленко

          div.cbLoginPerson
          div.cbLoginPosition

          div.cbLoginDate    22 июля 2020г. 11:00 МСК
        div.cbLoginRight
          div.cbLoginRightBox
            div.cbLoginRightTitle Регистрация
            div.cbLoginRightError
              span &nbsp;
              span(v-if="codeError") Введенный код неверен
            input.cbLoginRightCode(placeholder="Введите код" v-model="code" v-on:keypress="enterKeyDown($event)")
            div.cbLoginRightEnter(v-on:click="cbLogin()") Войти