html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    //link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

    <link rel="shortcut icon" href="/images/favicon_gpn.ico" type="image/x-icon">
    meta( property="og:title" content=title)
    <meta property="og:site_name" content="Пресс-завтрак">
    <meta property="og:url" content="https://cbr-online.ru/>

    title "Трансляция ДИР"

    script(src="/lib/socket.io.js")
    script(src="/lib/axios.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/moment.ru.js")
    script(src="/lib/vue.min.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/gpnRoom.css')

    //script(src="/javascripts/cbrScript.js")
    script(src="/javascripts/gpnLoginScript.js")
  body
    div#loginApp(style="opacity:0" v-bind:style="{opacity:opacity}")
      div.wnd
        div.cbLoginLeft
          div(style="width:100%")
            div.cbLoginLeftTitle Регистрация
            .cbLoginFormWr(v-bind:class="{error:codeError}")
              div
                input.cbLoginForm#loginname(placeholder="Ваше Имя" v-model="user")
              div
                input.cbLoginForm#logincode(placeholder="Код-пароль" v-model="code")
              .loginError Пользователь не найден
              div
                .loginLogOn(v-on:click="logOn()" v-html='cap')
          div.footerLogo
            <svg width="376px" height="106px" viewBox="0 0 376 106" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="signup-errors" transform="translate(-91.000000, -826.000000)" fill="#006FB6" fill-rule="nonzero">
            <g id="ЦР---русский,-полный-(web)" transform="translate(91.000000, 826.000000)">
            <g id="g20" transform="translate(229.000000, 23.000000)">
            <polygon id="path4" points="13.1036307 24.8637218 13.1036307 20.5028195 0.313529795 20.5028195 0.313529795 1.15131579 3.24459459 1.15131579 3.24459459 17.9135338 10.9719472 17.9135338 10.9719472 1.15131579 13.903012 1.15131579 13.903012 17.9135338 16.1679258 17.9135338 16.1679258 24.8637218"></polygon>
            <polygon id="path6" points="30.4235591 20.5028195 30.4235591 6.46616541 21.8968251 20.5028195 19.2322208 20.5028195 19.2322208 1.15131579 22.1632856 1.15131579 22.1632856 15.1879699 30.5567893 1.15131579 33.2213937 1.15131579 33.2213937 20.5028195"></polygon>
            <path d="M44.9456529,20.6390977 L44.9456529,18.1860902 C39.3499837,17.9135338 37.08507,15.0516917 37.08507,10.0093985 C37.08507,4.96710526 39.6164442,2.37781955 44.9456529,2.10526316 L44.9456529,0.197368421 L47.8767177,0.197368421 L47.8767177,2.10526316 C53.2059264,2.37781955 55.7373006,4.96710526 55.7373006,10.0093985 C55.7373006,15.0516917 53.4723868,17.9135338 47.8767177,18.1860902 L47.8767177,20.6390977 L44.9456529,20.6390977 Z M44.9456529,4.69454887 C41.2152068,4.83082707 40.0161348,6.7387218 40.0161348,10.1456767 C40.0161348,13.5526316 41.2152068,15.4605263 44.9456529,15.7330827 L44.9456529,4.69454887 Z M47.7434875,15.7330827 C51.4739336,15.5968045 52.6730055,13.6889098 52.6730055,10.1456767 C52.6730055,6.60244361 51.4739336,4.83082707 47.7434875,4.69454887 L47.7434875,15.7330827 Z" id="path8"></path>
            <path d="M66.5289482,12.8712406 L62.2655812,12.8712406 L62.2655812,20.5028195 L59.3345164,20.5028195 L59.3345164,1.15131579 L66.5289482,1.15131579 C70.2593943,1.15131579 72.6575383,3.60432331 72.6575383,7.0112782 C72.6575383,10.4182331 70.2593943,12.8712406 66.5289482,12.8712406 Z M66.395718,3.7406015 L62.2655812,3.7406015 L62.2655812,10.2819549 L66.395718,10.2819549 C68.3941713,10.2819549 69.7264735,9.05545113 69.7264735,7.0112782 C69.7264735,4.96710526 68.3941713,3.7406015 66.395718,3.7406015 Z" id="path10"></path>
            <path d="M87.179632,18.731203 C85.9805601,19.9577068 84.3817975,20.6390977 82.250114,20.6390977 C80.1184305,20.6390977 78.5196679,19.9577068 77.3205959,18.731203 C75.4553728,16.8233083 75.4553728,14.9154135 75.4553728,10.8270677 C75.4553728,6.7387218 75.4553728,4.83082707 77.3205959,2.92293233 C78.5196679,1.69642857 80.1184305,1.01503759 82.250114,1.01503759 C84.3817975,1.01503759 85.9805601,1.69642857 87.179632,2.92293233 C89.0448551,4.83082707 89.0448551,6.7387218 89.0448551,10.8270677 C89.0448551,14.9154135 89.0448551,16.8233083 87.179632,18.731203 Z M85.0479486,4.83082707 C84.3817975,4.01315789 83.3159557,3.60432331 82.250114,3.60432331 C81.051042,3.60432331 80.1184305,4.01315789 79.4522794,4.83082707 C78.5196679,5.92105263 78.3864376,7.0112782 78.3864376,10.8270677 C78.3864376,14.6428571 78.5196679,15.8693609 79.4522794,16.8233083 C80.1184305,17.6409774 81.1842722,18.049812 82.250114,18.049812 C83.4491859,18.049812 84.3817975,17.6409774 85.0479486,16.8233083 C85.9805601,15.8693609 86.1137903,14.6428571 86.1137903,10.8270677 C86.1137903,7.0112782 85.9805601,5.78477444 85.0479486,4.83082707 Z" id="path12"></path>
            <path d="M101.035575,20.5028195 L93.3082221,20.5028195 L93.3082221,1.15131579 L100.635884,1.15131579 C104.09987,1.15131579 106.364783,3.19548872 106.364783,6.32988722 C106.364783,8.23778195 105.432172,9.73684211 103.833409,10.5545113 C105.698632,11.5084586 106.631244,12.8712406 106.631244,15.0516917 C106.764474,18.4586466 104.49956,20.5028195 101.035575,20.5028195 Z M100.502654,3.7406015 L96.2392869,3.7406015 L96.2392869,9.32800752 L100.502654,9.32800752 C102.367877,9.32800752 103.566949,8.23778195 103.566949,6.60244361 C103.566949,4.83082707 102.367877,3.7406015 100.502654,3.7406015 Z M100.769114,12.0535714 L96.2392869,12.0535714 L96.2392869,17.9135338 L100.769114,17.9135338 C102.634337,17.9135338 103.833409,16.8233083 103.833409,14.9154135 C103.833409,13.143797 102.634337,12.0535714 100.769114,12.0535714 Z" id="path14"></path>
            <path d="M118.222273,20.5028195 L111.027841,20.5028195 L111.027841,1.15131579 L113.958906,1.15131579 L113.958906,8.78289474 L118.355503,8.78289474 C121.952719,8.78289474 124.350863,11.2359023 124.350863,14.6428571 C124.217633,18.1860902 121.819489,20.5028195 118.222273,20.5028195 Z M117.955812,11.3721805 L113.825676,11.3721805 L113.825676,17.9135338 L117.955812,17.9135338 C120.087496,17.9135338 121.286568,16.6870301 121.286568,14.6428571 C121.419798,12.7349624 120.087496,11.3721805 117.955812,11.3721805 Z M126.482546,20.5028195 L126.482546,1.15131579 L129.413611,1.15131579 L129.413611,20.5028195 L126.482546,20.5028195 Z" id="path16"></path>
            <polygon id="path18" points="134.343129 20.5028195 134.343129 1.15131579 146.467079 1.15131579 146.467079 3.7406015 137.274194 3.7406015 137.274194 9.46428571 145.134777 9.46428571 145.134777 12.0535714 137.274194 12.0535714 137.274194 17.9135338 146.467079 17.9135338 146.467079 20.5028195"></polygon>
            </g>
            <g id="g36" transform="translate(230.000000, 62.000000)">
            <path d="M7.32798806,11.7333333 L3.09189996,11.7333333 L3.09189996,19.2 L0.311967152,19.2 L0.311967152,0.266666667 L7.46036581,0.266666667 C11.1669429,0.266666667 13.4173647,2.66666667 13.4173647,6 C13.4173647,9.33333333 11.0345651,11.7333333 7.32798806,11.7333333 Z M7.1956103,2.8 L3.09189996,2.8 L3.09189996,9.06666667 L7.1956103,9.06666667 C9.1812766,9.06666667 10.5050541,7.86666667 10.5050541,5.86666667 C10.5050541,4 9.1812766,2.8 7.1956103,2.8 Z" id="path22"></path>
            <polygon id="path24" points="16.7268085 19.2 16.7268085 0.266666667 28.773184 0.266666667 28.773184 2.8 19.6391191 2.8 19.6391191 8.26666667 27.4494065 8.26666667 27.4494065 10.8 19.6391191 10.8 19.6391191 16.5333333 28.773184 16.5333333 28.773184 19.0666667 16.7268085 19.0666667"></polygon>
            <polygon id="path26" points="32.6121389 19.2 32.6121389 0.266666667 35.3920717 0.266666667 35.3920717 16.5333333 41.7462038 16.5333333 41.7462038 0.266666667 44.6585144 0.266666667 44.6585144 16.5333333 51.0126465 16.5333333 51.0126465 0.266666667 53.9249571 0.266666667 53.9249571 19.2"></polygon>
            <polygon id="path28" points="58.6905562 19.2 58.6905562 0.266666667 70.7369317 0.266666667 70.7369317 2.8 61.6028667 2.8 61.6028667 8.26666667 69.4131542 8.26666667 69.4131542 10.8 61.6028667 10.8 61.6028667 16.5333333 70.7369317 16.5333333 70.7369317 19.0666667 58.6905562 19.0666667"></polygon>
            <polygon id="path30" points="85.033729 19.2 85.033729 10.9333333 77.4881971 10.9333333 77.4881971 19.2 74.5758865 19.2 74.5758865 0.266666667 77.3558193 0.266666667 77.3558193 8.4 84.9013513 8.4 84.9013513 0.266666667 87.8136618 0.266666667 87.8136618 19.2"></polygon>
            <polygon id="path32" points="103.698992 19.2 103.698992 5.46666667 95.3591937 19.2 92.8440164 19.2 92.8440164 0.266666667 95.6239492 0.266666667 95.6239492 14 103.963748 0.266666667 106.611303 0.266666667 106.611303 19.2"></polygon>
            <path d="M113.627324,19.2 L110.31788,19.2 L114.42159,11.2 C112.171168,10.4 110.847391,8.53333333 110.847391,6 C110.847391,2.53333333 113.23019,0.266666667 116.80439,0.266666667 L123.952788,0.266666667 L123.952788,19.2 L120.9081,19.2 L120.9081,11.7333333 L117.201523,11.7333333 L113.627324,19.2 Z M120.9081,2.8 L116.80439,2.8 C114.686346,2.8 113.494946,4 113.494946,6 C113.494946,8 114.818723,9.2 116.80439,9.2 L120.9081,9.2 L120.9081,2.8 Z" id="path34"></path>
            </g>
            <rect id="rect38" x="198" y="0" width="3" height="106"></rect>
            <path d="M139,49.5981308 C138.375,49.5981308 137.875,49.0747664 137.875,48.5514019 C137.875,48.5514019 137.875,48.5514019 137.875,48.5514019 L137.875,29.7102804 L137.875,29.4485981 L137.875,29.317757 C137.875,28.7943925 138.375,28.271028 139,28.271028 C139.625,28.271028 140.125,28.6635514 140.125,29.317757 L140.125,29.4485981 L140.125,29.5794393 L140.125,48.4205607 C140.125,48.4205607 140.125,48.4205607 140.125,48.4205607 C140.125,49.0747664 139.625,49.5981308 139,49.5981308 M141.125,25 L136.875,25 C133.25,25 133,28.0093458 133,29.9719626 L133,48.0280374 C133,49.9906542 133.25,53 136.875,53 L141.125,53 C144.75,53 145,49.9906542 145,48.0280374 L145,29.9719626 C145,28.0093458 144.75,25 141.125,25" id="path40"></path>
            <polygon id="polygon42" points="67 28.4018692 61.8481013 28.4018692 61.8481013 53 56 53 56 25 67 25"></polygon>
            <path d="M68,53 L73.2336449,53 L73.7570093,45.5420561 L76.2429907,45.5420561 L76.7663551,53 L82,53 L79.2523364,25 L70.7476636,25 L68,53 Z M74.0186916,42.4018692 L74.9345794,28.4018692 L75.1962617,28.4018692 L76.1121495,42.4018692 L74.0186916,42.4018692 Z" id="path44"></path>
            <path d="M90.25,43.4037559 L90.25,48.6619718 C90.25,49.4507042 90.75,49.5821596 91,49.5821596 C91.5,49.5821596 91.75,49.1877934 91.75,48.6619718 L91.75,42.0892019 C91.75,41.1690141 91.625,40.2488263 89.625,40.2488263 L87.5,40.2488263 L87.5,37.0938967 L89.625,37.0938967 C91.125,37.0938967 91.625,36.6995305 91.625,34.9906103 L91.625,29.3380282 C91.625,28.8122066 91.25,28.4178404 90.875,28.4178404 C90.625,28.4178404 90.125,28.6807512 90.125,29.3380282 L90.125,33.9389671 L85,33.9389671 L85,29.9953052 C85,28.0234742 85.25,25 88.875,25 L93.125,25 C96.75,25 97,28.0234742 97,29.9953052 L97,34.4647887 C97,37.4882629 95,38.4084507 93.5,38.2769953 L93.5,38.5399061 C97,38.4084507 97,41.3004695 97,42.3521127 L97,48.0046948 C97,49.9765258 96.75,53 93.125,53 L88.875,53 C85.25,53 85,49.9765258 85,48.0046948 L85,43.1408451 L90.25,43.1408451 L90.25,43.4037559 Z" id="path46"></path>
            <polygon id="polygon48" points="113 53 108.2 53 108.2 28.4018692 105.8 28.4018692 105.8 53 101 53 101 25 113 25"></polygon>
            <path d="M118,53 L123.438776,53 L123.438776,43.4485981 L126.622449,43.4485981 C130.469388,43.4485981 131,40.4392523 131,38.4766355 L131,29.9719626 C131,28.0093458 130.336735,25 126.622449,25 L118,25 L118,53 Z M123.438776,40.4392523 L123.438776,28.5327103 L124.897959,28.5327103 C125.428571,28.5327103 125.959184,29.0560748 125.959184,29.9719626 L125.959184,39.1308411 C125.959184,40.046729 125.561224,40.5700935 124.897959,40.5700935 L123.438776,40.5700935 L123.438776,40.4392523 Z" id="path50"></path>
            <polygon id="polygon52" points="170 53 164.521739 53 164.521739 35.4672897 164.391304 35.4672897 161.652174 53 157.347826 53 154.608696 35.4672897 154.347826 35.4672897 154.347826 53 149 53 149 25 155.913043 25 159.434783 44.6261682 162.956522 25 170 25"></polygon>
            <path d="M45.1676122,27.1388175 C45.1676122,30.0231362 44.7713502,33.0385604 44.3750881,34.7429306 C44.5071755,31.596401 44.1109134,27.2699229 43.4504766,23.8611825 C42.7900398,20.4524422 40.6766422,14.81491 39.0915939,12.0616967 C37.638633,14.5526992 35.78941,19.5347044 34.7327111,23.7300771 C33.8080997,28.0565553 33.6760123,33.1696658 33.6760123,34.7429306 C33.4118376,33.4318766 32.7514008,28.7120823 33.0155755,24.1233933 C33.1476629,20.1902314 34.0722744,16.2570694 34.6006238,14.4215938 C36.4498468,8.2596401 38.6953318,4.45758355 39.0915939,3.80205656 C39.487856,4.45758355 42.2616904,9.17737789 43.582564,14.2904884 C44.9034375,19.5347044 45.1676122,24.3856041 45.1676122,27.1388175 M38.9595065,49.033419 C38.1669824,47.4601542 36.8461088,44.4447301 36.7140215,39.8560411 C36.7140215,35.3984576 38.4311571,31.4652956 38.9595065,30.6786632 C39.487856,31.4652956 40.9408169,34.874036 41.2049916,39.4627249 C41.3370789,43.9203085 39.884118,47.4601542 38.9595065,49.033419 M45.5638743,14.5526992 C43.8467387,7.07969152 39.487856,1.04884319 38.9595065,0 C38.034895,1.44215938 34.6006238,6.81748072 32.8834882,12.7172237 C31.0342652,19.403599 30.6380031,25.1722365 31.2984399,31.0719794 C31.9588767,36.840617 34.4685364,42.8714653 34.4685364,42.8714653 C35.78941,46.0179949 37.7707203,49.2956298 38.9595065,51 C40.8087295,48.6401028 45.1676122,41.4293059 46.4884858,31.9897172 C47.2810099,26.6143959 47.2810099,22.0257069 45.5638743,14.5526992" id="path54"></path>
            <path d="M28.3198925,53.5 L28.3198925,62.4228972 C28.3198925,62.4228972 28.3198925,62.4228972 28.3198925,62.4228972 C31.4811828,59.3598131 36.4865591,59.3598131 39.516129,62.4228972 C42.6774194,65.4859813 42.6774194,70.6799065 39.516129,73.7429907 C39.516129,73.7429907 39.516129,73.7429907 39.516129,73.7429907 C39.516129,73.7429907 39.516129,73.7429907 39.516129,73.7429907 C36.3548387,76.8060748 32.4032258,78.4042056 28.3198925,78.4042056 C24.2365591,78.4042056 20.1532258,76.8060748 17.1236559,73.7429907 C11.7231183,68.2827103 11.0645161,59.7593458 15.1478495,53.5 C15.6747312,52.7009346 16.3333333,51.9018692 17.1236559,51.1028037 C20.2849462,48.0397196 24.2365591,46.4415888 28.3198925,46.4415888 L28.3198925,25 C12.7768817,25 0,37.7850467 0,53.5 C0,69.2149533 12.6451613,82 28.3198925,82 C36.4865591,82 43.8629032,78.5373832 49,72.9439252 L49,53.5 L28.3198925,53.5 Z" id="path56"></path>
            <path d="M164.812135,74.3566434 C164.812135,77.013986 163.614936,77.5454545 160.422404,77.5454545 L157.495916,77.5454545 L157.495916,65.1888112 L160.422404,65.1888112 L160.422404,69.972028 L160.954492,69.972028 C163.747958,69.972028 164.812135,70.6363636 164.812135,73.1608392 L164.812135,74.3566434 Z M140.735123,67.4475524 L138.606768,67.4475524 L138.606768,77.5454545 L135.813302,77.5454545 L135.813302,67.4475524 L133.418903,67.4475524 L133.418903,65.0559441 L140.735123,65.0559441 L140.735123,67.4475524 Z M118.52042,73.027972 C118.52042,75.5524476 117.190198,76.2167832 114.396733,76.2167832 L114.396733,77.4125874 L111.470245,77.4125874 L111.470245,76.2167832 C108.676779,76.2167832 107.346558,75.5524476 107.346558,73.027972 L107.346558,69.1748252 C107.346558,66.6503497 108.543757,65.986014 111.470245,65.986014 L111.470245,65.0559441 L114.263711,65.0559441 L114.263711,65.986014 C117.190198,65.986014 118.387398,66.6503497 118.387398,69.1748252 L118.387398,73.027972 L118.52042,73.027972 Z M92.3150525,67.4475524 L88.3243874,67.4475524 L88.3243874,69.8391608 L91.915986,69.8391608 L91.915986,72.2307692 L88.3243874,72.2307692 L88.3243874,75.1538462 L92.3150525,75.1538462 L92.3150525,77.5454545 L85.3978996,77.5454545 L85.3978996,65.1888112 L92.3150525,65.1888112 L92.3150525,67.4475524 Z M68.2380397,77.5454545 L65.3115519,77.5454545 L65.3115519,72.0979021 L63.8483081,72.0979021 L63.8483081,77.5454545 L60.9218203,77.5454545 L60.9218203,65.1888112 L63.8483081,65.1888112 L63.8483081,69.972028 L65.3115519,69.972028 L65.3115519,65.1888112 L68.2380397,65.1888112 L68.2380397,77.5454545 Z M170,62 L56,62 L56,81 L170,81 L170,62 Z M110.140023,69.1748252 L110.140023,73.1608392 C110.140023,73.8251748 110.406068,74.0909091 111.071179,74.0909091 L111.603267,74.0909091 L111.603267,68.3776224 L111.071179,68.3776224 C110.406068,68.2447552 110.140023,68.3776224 110.140023,69.1748252 M161.087515,72.0979021 L160.422404,72.0979021 L160.422404,75.2867133 L161.087515,75.2867133 C161.752625,75.2867133 161.885648,75.1538462 161.885648,74.3566434 L161.885648,72.8951049 C161.885648,72.2307692 161.752625,72.0979021 161.087515,72.0979021 M114.795799,68.2447552 L114.396733,68.2447552 L114.396733,73.958042 L114.795799,73.958042 C115.46091,73.958042 115.726954,73.8251748 115.726954,73.027972 L115.726954,69.041958 C115.726954,68.3776224 115.46091,68.2447552 114.795799,68.2447552" id="path58"></path>
            </g>
            </g>
            </g>
            </svg>



        div.cbLoginRight
          div
            div.cbLoginTitle //Цифровые решения live
            //div.cbLoginSubTitle   Дирекция корпоративных решений
            div.cbLoginDate   17.02.2021 09:50

          //div.cbLoginRightBox
            div.cbLoginRightTitle Регистрация
            div.cbLoginRightError
              span &nbsp;
              span(v-if="codeError") Введенный код неверен
            input.cbLoginRightCode(placeholder="Введите код" v-model="code" v-on:keypress="enterKeyDown($event)")
            div.cbLoginRightEnter(v-on:click="cbLogin()") Войти