doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    title= title

    script(src="/lib/socket.io.js")
    script(src="/lib/axios.js")
    script(src="/lib/moment.min.js")
    script(src="/lib/moment.ru.js")
    script(src="/lib/vue.min.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content
