extends layout
block head

  script.
    var evntId=#{event.id}
    var onSubmit = function (token) {
      console.log('success!', token);
    };
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(src="/javascripts/loginScript.js")

block content
  div.pBox#app
    div.pLoginBox
      div.pLogoBox
        svg( width="291" height="56" viewBox="0 0 291 56" fill="none" xmlns="http://www.w3.org/2000/svg")
          <path d="M102.949 13.5365H125.214V19.3137H109.401V25.302H123.317V31.0792H109.401V37.2779H125.425V43.055H102.949V13.5365Z" fill="white"/>
          <path d="M132.89 13.5369H140.058L147.775 34.3261L155.492 13.5369H162.492L150.558 43.2657H144.823L132.89 13.5369Z" fill="white"/>
          <path d="M171.263 13.5369H193.528V19.314H177.715V25.3024H191.63V31.0796H177.715V37.2782H193.739V43.0554H171.263V13.5369Z" fill="white"/>
          <path d="M203.733 13.5369H209.721L223.553 31.7114V13.5369H229.962V43.0546H224.438L210.143 24.2895V43.0546H203.733V13.5369Z" fill="white"/>
          <path d="M248.137 19.5244H239.155V13.5369H263.613V19.5244H254.631V43.0546H248.137V19.5244V19.5244Z" fill="white"/>
          <path d="M12.3965 28.0001C12.3965 19.6081 19.0166 12.7347 28.1253 12.7347C37.234 12.7347 43.7701 19.524 43.7701 28.0001C43.7701 36.392 37.1499 43.2654 28.0412 43.2654C18.9325 43.2654 12.3965 36.4761 12.3965 28.0001ZM36.98 28.0001C36.98 22.9397 33.269 18.7231 28.0404 18.7231C22.8117 18.7231 19.1849 22.8555 19.1849 28.0001C19.1849 33.0604 22.8958 37.277 28.1245 37.277C33.354 37.277 36.98 33.1446 36.98 28.0001Z" fill="white"/>
          <path d="M50.6006 13.2416H56.5889L70.4198 31.4161V13.2416H76.8297V42.7593H71.3057L57.0104 23.9942V42.7593H50.6006V13.2416Z" fill="white"/>
          <path d="M88.432 0H3.83126C1.71877 0 0 1.71877 0 3.83126V52.1687C0 54.2812 1.71877 56 3.83126 56H88.4328C90.5453 56 92.264 54.2812 92.264 52.1687V3.83126C92.2632 1.71877 90.5444 0 88.432 0ZM88.0694 51.8061H4.193V4.19387H88.0694V51.8061Z" fill="#EC1C24"/>
          <path d="M281.645 36.3347C286.465 36.3347 290.372 32.6031 290.372 28C290.372 23.3969 286.465 19.6653 281.645 19.6653C276.824 19.6653 272.917 23.3969 272.917 28C272.917 32.6031 276.824 36.3347 281.645 36.3347Z" fill="#ED212E"/>

        div.pTitle #{event.title}
    div.lBottom
      //div.lTopL
        div.lBsubRTitleText Пожалуйста, зарегистрируйтесь.
        div.lBsubRTitleMust   Все поля обязательны для заполнения.
        div.flex
          div.half
            div.llInputBox(v-bind:class="{warning:(iErr &&  i.length<2)}")
              div.llInputBoxLabel
                input#iInpit(placeholder='Имя' v-model="i" autocomplete="off" v-on:keydown="if($event.keyCode==13) enter()")
              div.llInputBoxWarning Поле должно быть заполнено
            div.llInputBox(v-bind:class="{warning:(fErr &&  f.length<2)}")
              div.llInputBoxLabel
                input#fInpit(placeholder='Фамилия' v-model="f" autocomplete="off" v-on:keydown="if($event.keyCode==13) enter()")
              div.llInputBoxWarning Поле должно быть заполнено
          div.half
            if (event.regCase==1)
              div.llInputBox(v-bind:class="{warning:(emailErr)}")
                div.llInputBoxLabel
                  input#emailInpit(placeholder='Ваш e-mail' autocomplete="off" v-model="email"  v-on:keydown="if($event.keyCode==13) enter()")
                div.llInputBoxWarning Телефон указан неверно
            if (event.regCase == 2 || event.regCase == 3 )
              div.llInputBox(v-bind:class="{warning:(telErr )}")
                div.llInputBoxLabel
                  input#telInpit(placeholder='Ваш Телефон' autocomplete="off" v-model="tel"  v-on:keydown="if($event.keyCode==13) enter()")
                div.llInputBoxWarning Телефон указан неверно


        div.flex(style="margin-top:0")
            div.half
              div.llInputBox
                div.llSubmit(v-on:click="enter()")
                  div(v-if="!loader") Войти
                  div(v-if="loader")
                    include ./elements/whiteDotLoader

    //div.editRoomBox(v-if="showCode")
      div.codeRoom(v-on:click.stop.prevent=";;")
        div(style="text-align: center;")
          <svg width="50px" height="50px" viewBox="0 0 40 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Tablet" transform="translate(-139.000000, -788.000000)" fill="#3D89E0" fill-rule="nonzero">
          <g id="Group-2" transform="translate(139.000000, 786.000000)">
          <g id="fa-regular:comment-dots">
          <g id="Icon">
          <path d="M11.3060429,16.2183236 C9.92592593,16.2183236 8.81091618,17.3333333 8.81091618,18.7134503 C8.81091618,20.0935673 9.92592593,21.208577 11.3060429,21.208577 C12.6861598,21.208577 13.8011696,20.0935673 13.8011696,18.7134503 C13.8011696,17.3333333 12.6861598,16.2183236 11.3060429,16.2183236 Z M20.0389864,16.2183236 C18.6588694,16.2183236 17.5438596,17.3333333 17.5438596,18.7134503 C17.5438596,20.0935673 18.6588694,21.208577 20.0389864,21.208577 C21.4191033,21.208577 22.5341131,20.0935673 22.5341131,18.7134503 C22.5341131,17.3333333 21.4191033,16.2183236 20.0389864,16.2183236 Z M28.7719298,16.2183236 C27.3918129,16.2183236 26.2768031,17.3333333 26.2768031,18.7134503 C26.2768031,20.0935673 27.3918129,21.208577 28.7719298,21.208577 C30.1520468,21.208577 31.2670565,20.0935673 31.2670565,18.7134503 C31.2670565,17.3333333 30.1520468,16.2183236 28.7719298,16.2183236 Z M20.0389864,2.49512671 C9.01364522,2.49512671 0.0779727096,9.75438596 0.0779727096,18.7134503 C0.0779727096,22.4249513 1.62962963,25.8245614 4.20272904,28.5614035 C3.04093567,31.6335283 0.623781676,34.2378168 0.584795322,34.2690058 C0.0701754386,34.8148148 -0.0701754386,35.6101365 0.226120858,36.2962963 C0.522417154,36.9824561 1.20077973,37.4269006 1.94931774,37.4269006 C6.74463938,37.4269006 10.5263158,35.4230019 12.7953216,33.8167641 C15.0487329,34.5263158 17.4814815,34.9317739 20.0389864,34.9317739 C31.0643275,34.9317739 40,27.6725146 40,18.7134503 C40,9.75438596 31.0643275,2.49512671 20.0389864,2.49512671 Z M20.0389864,31.1890838 C17.957115,31.1890838 15.8986355,30.8693957 13.9259259,30.245614 L12.1559454,29.6842105 L10.6354776,30.7602339 C9.52046784,31.5477583 7.99220273,32.4288499 6.15204678,33.0214425 C6.72124756,32.0779727 7.2748538,31.0175439 7.7037037,29.8869396 L8.53021442,27.6959064 L6.92397661,25.9961014 C5.51267057,24.4912281 3.82066277,22.0038986 3.82066277,18.7134503 C3.82066277,11.8362573 11.0955166,6.23781676 20.0389864,6.23781676 C28.9824561,6.23781676 36.2573099,11.8362573 36.2573099,18.7134503 C36.2573099,25.5906433 28.9824561,31.1890838 20.0389864,31.1890838 Z" id="Icon-Shape"></path>
          <rect id="Icon-Rectangle-path" fill-opacity="0" x="0.0779727096" y="0" width="39.9220273" height="39.9220273"></rect>
          </g>
          </g>
          </g>
          </g>
          </g>
          </svg>
        div.smsHeader(style="text-align:center") Введите код, полученный по E-mail или SMS
        div.llInputBox(v-bind:class="{warning:(codeErr && !checkCode(code))}"  v-on:keydown="if($event.keyCode==13) sendCode()")
          div.llInputBoxLabel
          input.code#code( type="text"  autocomplete="off" maxlength="25" v-model="code" )
          div.llInputBoxWarning Код указан неверно или у Вас нет доступа
        div.llInputBox
          div.llSubmit(v-on:click="sendCode()")
            div(v-if="!loader") Проверить код
            div(v-if="loader")
              include ./elements/whiteDotLoader
        div.smsReturn(v-on:click="closeCodeWindow()") Вернуться к вводу




