<html lang="ru"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Юбилейная программа Росатома стартовала 20 августа - в день рождения атомной промышленности - и продлится 75 дней. Она выстроена таким образом, чтобы рассказать об отечественном атомпроме и роли, которую мирный атом играет в жизни каждого из нас. Тематически все мероприятия разделены на три крупных блока: «Прошлое», «Настоящее» и «Будущее».">
<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="./favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="./favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="css/style.min.css">
<script src="js/vendor.min.js" defer=""></script>
<script src="js/main.js" defer=""></script>
<title>Большой праздничный эфир</title>
</head>
<body>
<div class="page">
<picture class="main-logo">
<source media="(min-width: 1025px)" srcset=" ./img/logo@2x.png 2x, ./img/logo.png">
<source media="(min-width: 501px)" srcset=" ./img/logo-ipad@2x.png 2x, ./img/logo-ipad.png"><img src="./img/logo-iphone.png" srcset="./img/logo-iphone@2x.png 2x, ./img/logo-iphone.png" alt="75 лет атомной промышленности">
</picture>
<main class="page__content page-content">
<div class="page-content__row page-content__row_upper row row_upper"><svg class="celebration-text-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 301 152">
<path fill="#1F1E21" d="M2.6 117a6 6 0 014.4-1.7 6 6 0 016.2 6.2 6 6 0 01-6.2 6.2 6 6 0 01-4.4-1.8 6 6 0 01-1.7-4.4 6 6 0 011.7-4.4zm1.1 8c1 .8 2 1.3 3.3 1.3 1.4 0 2.5-.5 3.4-1.4.8-.9 1.3-2 1.3-3.4s-.5-2.5-1.4-3.5c-.9-.9-2-1.3-3.3-1.3-1.3 0-2.4.4-3.3 1.3-.8 1-1.3 2-1.3 3.5 0 1.3.5 2.5 1.4 3.4zM25.2 127.5v-10.7h-6.6v10.7h-1.5v-12h9.5v12h-1.4zM31.4 127.5v-12h6.8v1.3h-5.4v4h4.9v1.3h-4.9v4h5.6v1.4h-7zM43.8 127.5h-1.5v-12h3.2c1.6 0 2.7.3 3.4 1 .7.7 1 1.6 1 2.7 0 1-.3 1.9-1 2.6-.8.8-1.9 1.1-3.3 1.1h-1.8v4.6zm0-10.7v4.7h1.8c1.7 0 2.8-.8 2.8-2.3 0-1.5-1-2.4-2.8-2.4h-1.8zM53.8 127.5v-12h6.8v1.3h-5.3v4H60v1.3h-4.8v4h5.5v1.4h-7zM69.1 121.2l-4.9-5.7H66l4.8 5.7-5 6.3H64l5.1-6.3zm2 6.3v-12h1.4v12H71zm8.2-12l-4.9 5.7 5 6.3h-1.6l-5-6.3 4.8-5.7h1.7zM90.7 115.4v12.1h-1.5v-3.7h-4.3l-2.7 3.7h-1.7l8.7-12.1h1.5zm-1.5 2.3l-3.4 4.7h3.4v-4.7zM101.3 127.5V123h-2.2l-3.1 4.5h-1.7l3.3-4.7a3.6 3.6 0 01-2.3-3.4c0-1.2.4-2.1 1.1-2.9.8-.7 2-1 3.6-1h2.8v12h-1.5zm0-5.8v-4.9h-1.6c-1.8 0-2.9 1-2.9 2.5 0 .6.2 1.2.6 1.6.4.4 1 .7 1.5.8h2.4zM1.8 139.8l3.3-.1c2.8 0 4 1.2 4 3 0 1.4-.9 2.4-2.1 2.8 1.5.3 2.5 1.3 2.5 2.8 0 2.4-1.8 3.5-4.4 3.5H1.8v-12zm1.5 1.3v4h2c1.3 0 2.3-.8 2.3-2.1s-.8-2-2.5-2l-1.8.1zm0 5.2v4l1.9.2c1.8 0 2.8-.8 2.8-2.2 0-1.3-1-2-2.8-2h-2zM15 151.8h-1.4v-12h3.2c1.6 0 2.7.3 3.4 1 .7.7 1 1.6 1 2.6 0 1.1-.3 2-1 2.7-.8.8-2 1.1-3.3 1.1H15v4.6zm0-10.7v4.7h1.8c1.8 0 2.9-.9 2.9-2.4 0-1.4-1-2.3-2.8-2.3h-1.8zM25 151.8v-12H32v1.3h-5.4v4h4.9v1.3h-4.9v4h5.6v1.4h-7zM49.9 139.8v12h-1.5v-9.4l-5.8 9.4h-1.3v-9.2l-5.7 9.2h-1.9l7.8-12h1.2v9.3l5.8-9.3h1.4zM60.6 151.8v-4.5h-2.3l-3.1 4.5h-1.7L57 147a3.6 3.6 0 01-2.4-3.4c0-1.2.4-2.1 1.2-2.9.8-.7 2-1.1 3.5-1.1H62v12h-1.4zm0-5.9v-4.8H59c-1.9 0-3 1-3 2.5 0 .6.3 1.1.7 1.6.4.4.9.7 1.5.7h2.4zM8.9 3H1.4V0h11.9L6.6 18.3H3.2L9 3zM17.3 9.7L18.5.1h8.7v3h-6l-.6 3.6 1-.1c1.7 0 3.1.5 4.2 1.5 1 1 1.6 2.5 1.6 4.2a6 6 0 01-6.3 6.2c-1 0-2-.2-3-.7-1-.4-1.8-1-2.3-1.9l1.7-2.2c.4.5.9 1 1.6 1.3.7.4 1.4.5 2.1.5.9 0 1.6-.3 2.2-.8a3 3 0 00.8-2.2c0-1-.3-1.8-1-2.4-.8-.6-1.7-.9-2.9-.9s-2.2.2-3 .5zM51.8 0H55v18.2h-3.3V5l-9.3 13.3h-3.7L51.7 0zM72.5 18.2H61.6V.1h10.6v3h-7.4v4.5h6.6v3h-6.6v4.7h7.7v3zM82.8 3h-6V0H92v3h-6v15.2h-3.1V3zM13.1 30.4h3.2v18.2H13v-4.7H7l-3.3 4.7H0l13.1-18.3zm0 10.5v-5.7L9 41h4zM27.1 33.4h-5.9v-3h15v3h-5.8v15.2H27V33.4zM39.6 39.5a9.1 9.1 0 019.5-9.4c2.8 0 5 .9 6.8 2.6a9 9 0 012.8 6.8 9.4 9.4 0 01-9.5 9.4c-2.8 0-5.1-.9-6.9-2.6a9 9 0 01-2.7-6.8zm3.4 0c0 1.8.6 3.4 1.8 4.6a5.8 5.8 0 004.3 1.8c2 0 3.4-.6 4.5-1.8a6.5 6.5 0 001.7-4.6c0-1.9-.6-3.4-1.8-4.6A6 6 0 0049 33c-1.7 0-3.2.6-4.4 1.8a6.4 6.4 0 00-1.7 4.6zM81 30.4h3.2v18.2h-3.3V36l-8 12.5h-2.7v-12l-7.5 12h-4l11.8-18.2h2.7v12.4L81 30.4zM105.6 48.6h-3.2v-7.8H94v7.8h-3.2V30.4h3.3v7.4h8.3v-7.4h3.2v18.2zM111 39.5a9.1 9.1 0 019.6-9.4c2.7 0 5 .9 6.8 2.6a9 9 0 012.7 6.8c0 2.7-.9 5-2.7 6.7a9.4 9.4 0 01-6.8 2.7 9 9 0 01-9.5-9.4zm3.5 0c0 1.8.6 3.4 1.7 4.6a5.8 5.8 0 004.4 1.8c1.9 0 3.4-.6 4.5-1.8a6.5 6.5 0 001.6-4.6c0-1.9-.5-3.4-1.7-4.6a6 6 0 00-4.4-1.8c-1.8 0-3.2.6-4.4 1.8a6.4 6.4 0 00-1.7 4.6zM148 48.6V37.3L135.6 49V30.4h3.2V42L151.2 30v18.5H148zM138.7 26h3c.2 1 .9 1.5 2.2 1.5 1.3 0 2-.5 2-1.5h3c0 1-.5 2-1.4 2.7a6 6 0 01-3.6 1c-1.6 0-2.8-.3-3.7-1-1-.7-1.5-1.6-1.5-2.7zM17.8 79h-3.2V63.6H6.5V79H3.3V60.8h14.5v18.1zM26.4 72.4v6.5h-3.2V60.8a110.4 110.4 0 005.2-.1c1.3 0 2.4.2 3.3.5 1 .3 1.7.7 2.2 1.3a5.6 5.6 0 011.6 4c0 1.7-.6 3-1.8 4.2a6.7 6.7 0 01-5 1.7h-2.3zm2.3-8.7h-2.3v5.6l2.3.1c1 0 1.8-.2 2.4-.7.6-.5 1-1.2 1-2.2 0-1.9-1.2-2.8-3.4-2.8zM38.7 69.8a9.1 9.1 0 019.5-9.3c2.8 0 5 .9 6.8 2.6a9 9 0 012.8 6.8 9.4 9.4 0 01-9.5 9.4c-2.8 0-5.1-1-6.9-2.7a9 9 0 01-2.7-6.8zm3.4 0c0 1.9.6 3.4 1.8 4.6a5.8 5.8 0 004.3 1.8c1.9 0 3.4-.6 4.5-1.8a6.5 6.5 0 001.6-4.6c0-1.8-.5-3.3-1.7-4.5a6 6 0 00-4.4-1.8c-1.8 0-3.2.6-4.4 1.8a6.4 6.4 0 00-1.7 4.5zM80.7 60.8h3.1v18.1h-3.2V66.5l-8 12.4H70V67l-7.6 12h-4l11.9-18.1h2.7v12.4l7.8-12.4zM90.5 60.8h3.2V67l2-.1c2.3 0 4 .5 5 1.5 1.2 1 1.8 2.5 1.8 4.3 0 2-.7 3.5-2 4.6A8 8 0 0195 79a92 92 0 01-4.6 0V60.7zm5 9l-1.8.2v6h1.8c2.4 0 3.6-1 3.6-3.2 0-1-.3-1.7-1-2.2a4 4 0 00-2.6-.8zM108 79h-3.2V60.8h3.2v18.1zM135.7 79h-21V60.7h3.2V76h5.7V60.8h3.2V76h5.7V60.8h3.2v18.1zM153.3 60.7h3.1V79h-3.2V65.6L144 78.9H140l13.2-18.2zM174 79H163V60.7h10.6v3h-7.4v4.5h6.6v3h-6.6V76h7.6v3zM194.6 79h-3.2v-7.8H183v7.7h-3.2V60.8h3.2v7.4h8.4v-7.4h3.2v18.1zM216 79h-3.2v-7.8h-8.3v7.7h-3.3V60.8h3.3v7.4h8.3v-7.4h3.2v18.1zM221.5 69.8a9.1 9.1 0 019.5-9.3c2.8 0 5 .9 6.8 2.6a9 9 0 012.8 6.8 9.4 9.4 0 01-9.5 9.4c-2.8 0-5.1-1-6.9-2.7a9 9 0 01-2.7-6.8zm3.4 0c0 1.9.6 3.4 1.8 4.6a5.8 5.8 0 004.3 1.8c1.9 0 3.4-.6 4.5-1.8a6.5 6.5 0 001.7-4.6c0-1.8-.6-3.3-1.8-4.5a6 6 0 00-4.4-1.8c-1.8 0-3.2.6-4.4 1.8a6.4 6.4 0 00-1.7 4.5zM259.3 74.8l1.3 2.4c-.6.6-1.5 1-2.5 1.5-1 .3-2.2.5-3.4.5-2.8 0-5-.8-6.8-2.5a9.1 9.1 0 01-2.6-6.9c0-2.6.8-4.9 2.4-6.7 1.7-1.8 4-2.6 7-2.6a8 8 0 015.5 1.8l-1.5 2.4a7.4 7.4 0 00-4-1.3c-1.8 0-3.3.6-4.4 1.8a6.4 6.4 0 00-1.6 4.6c0 2 .5 3.5 1.7 4.7a6.2 6.2 0 004.6 1.7 7 7 0 004.3-1.4zM270.3 63.7h-5.9v-3h15v3h-5.8V79h-3.3V63.7zM296.8 66l-9.6 13h-2.8V60.7h3.2v12.9l9.6-13h2.8V79h-3.2V66z"></path>
</svg>
<a class="page-content__rosatom-link rosatom-link" href="#" target="_blank" rel="noopener noreferrer">
Сайт АСЭ Росатом<svg class="rosatom-logo-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 92 156">
<path fill="#285795" d="M7 155H5.5v-11.2h3.3l1.7.2c.5.2 1 .4 1.3.7l.8 1c.2.5.3 1 .3 1.6 0 1.1-.4 2-1.1 2.6-.8.7-1.8 1-3.1 1H7v4zm0-5.5h1.7c.9 0 1.5-.2 2-.5.5-.4.7-1 .7-1.7s-.2-1.3-.7-1.6c-.5-.4-1.1-.5-2-.5H7v4.3zM21 155c-.8 0-1.5 0-2.1-.3-.7-.3-1.2-.7-1.6-1.1a5 5 0 01-1-1.8c-.3-.8-.4-1.6-.4-2.4 0-1 .1-1.7.4-2.4.2-.7.6-1.3 1-1.8s1-.9 1.6-1.1a5 5 0 012-.4c.8 0 1.5.1 2.2.4a5 5 0 012.6 3l.2 2.3c0 1 0 1.8-.3 2.5s-.6 1.3-1 1.7c-.5.5-1 .9-1.7 1.1-.6.3-1.2.4-2 .4zm0-1.3a3 3 0 002.5-1c.6-.8 1-1.9 1-3.3 0-.8-.1-1.4-.3-2-.2-.5-.4-1-.7-1.3-.3-.4-.7-.7-1.1-.8a4 4 0 00-2.9 0c-.4.2-.8.4-1 .8a4 4 0 00-.8 1.4 6.5 6.5 0 000 3.8l.7 1.4c.4.3.7.6 1.2.8.4.2 1 .3 1.5.3zM37.3 154.6l-1.1.4a7 7 0 01-3.7-.3 4.8 4.8 0 01-2.8-2.9 7.7 7.7 0 010-4.8 4.7 4.7 0 012.8-3c.6-.2 1.4-.3 2.2-.3a7.2 7.2 0 012.5.4l-.2 1.2a7.7 7.7 0 00-2.1-.4c-1.4 0-2.4.4-3 1.2-.8.7-1.1 1.8-1.1 3.3 0 .6.1 1.3.3 1.8l.8 1.4c.4.4.8.6 1.3.8.6.2 1.1.3 1.8.3h1l1-.4.3 1.3zM47.2 152h-4.7l-1.1 3H40l4.2-11.2h1.4l4.2 11.1h-1.5l-1-3zm-4.3-1.3h3.9l-1.9-5.3-2 5.3zM55.6 155H54v-9.8H51v-1.4h8v1.4h-3.3v9.7zM66.3 155c-.8 0-1.5 0-2.1-.3-.6-.3-1.2-.7-1.6-1.1a5 5 0 01-1-1.8c-.2-.8-.4-1.6-.4-2.4 0-1 .2-1.7.4-2.4s.6-1.3 1-1.8a5 5 0 013.6-1.5c.8 0 1.6.1 2.2.4.6.3 1.1.7 1.6 1.2a5 5 0 011 1.8c.2.7.3 1.4.3 2.3 0 1-.2 1.8-.4 2.5-.3.7-.6 1.3-1 1.7-.5.5-1 .9-1.6 1.1-.6.3-1.3.4-2 .4zm.1-1.3a3 3 0 002.5-1c.6-.8.9-1.9.9-3.3 0-.8-.1-1.4-.3-2-.2-.5-.4-1-.7-1.3-.3-.4-.7-.7-1.1-.8a4 4 0 00-2.9 0c-.4.2-.8.4-1 .8a4 4 0 00-.8 1.4 6.5 6.5 0 000 3.8c.2.6.4 1 .8 1.4l1.1.8 1.5.3zM86 155h-1.5l-.7-8.7-2.8 8.6h-1.5l-2.8-8.6-.7 8.6h-1.4l1-11h1.7l3 9.5 3-9.6H85l1 11.1z"></path>
<path fill="url(#paint0_radial)" d="M53.2 52.2a9.5 9.5 0 01-13.5.6 9.6 9.6 0 01-.7-13.5c3.6-4 9.6-4.2 13.5-.7 4 3.6 4.3 9.6.7 13.6z"></path>
<path fill="url(#paint1_linear)" d="M48.6 13a35 35 0 017.9 11.5c2.4.4 4.7.6 6.9.4h.8a26.3 26.3 0 0017-8.5l-2.7-3A45.8 45.8 0 0018.7 9c14.1-6.8 23.9-2.1 30 3.8z"></path>
<path fill="url(#paint2_linear)" d="M16.2 59.4l1-3c2-5.7 5-9.5 5-9.5a29.6 29.6 0 00-3.2-6.6l-.2-.3a26.3 26.3 0 00-15-10.3l-.9-.2a45.8 45.8 0 0024.9 57.8c-13-8.8-13.7-19.6-11.6-27.9z"></path>
<path fill="url(#paint3_linear)" d="M72.8 64.3l-3.2.7c-6 1-10.7.3-10.7.3a30 30 0 00-4 6.1l-.2.4c-2 4.3-3.5 10.5-1.5 18.2l.3.8 4-.8A45.8 45.8 0 0091 40.4C90 56 81 62 72.8 64.3z"></path>
<path fill="url(#paint4_linear)" d="M18.7 9s-9.9 6.3-15 18.8c1.3.2 15.1 3 20.3 18.4 1.3-.8 5.1-3.8 7.7-12.3 3.2-10.2 9.2-17.7 17-21 0 0-9.9-14-30-3.8z"></path>
<path fill="url(#paint5_linear)" d="M50.2 82.5c0-5.2 1.4-12 7.2-18.4V64c-.9-1-4.2-3.5-12.6-1.6-10.4 2.4-21.9 2.1-28.6-3 0 0-7.2 15.5 11.6 27.8 0 0 10.3 5.5 23.7 3.8-.2-.7-1.3-4-1.3-8.5z"></path>
<path fill="url(#paint6_linear)" d="M82.4 18a27 27 0 01-26.3 8.5c-.5 1.4-.8 5.4 5 11.6 7.2 7.8 12.7 17.9 11.7 26.2 0 0 17-1.5 18.2-24 0 0-.4-11.6-8.6-22.4z"></path>
<path fill="#403F41" d="M91.5 134.5v-1H0v1h91.5zM35.3 120.6h-6l-1.3 3.7h-1.8l5.3-13.8h1.8l5.1 13.8h-1.8l-1.3-3.7zm-5.4-1.6h4.8l-2.3-6.5h-.1l-2.4 6.5zM51.5 124l-1.3.4a8.8 8.8 0 01-4.6-.4 6 6 0 01-2.1-1.3c-.6-.7-1.1-1.4-1.4-2.2a9.7 9.7 0 010-6c.3-1 .8-1.7 1.4-2.3.5-.7 1.3-1.1 2.1-1.4a9.2 9.2 0 016 0l-.4 1.6a7 7 0 00-2.6-.5c-1.7 0-3 .5-3.8 1.4-.9 1-1.3 2.3-1.3 4.1 0 .9.1 1.6.4 2.3.2.7.6 1.3 1 1.7.5.5 1 .8 1.6 1.1.7.2 1.4.4 2.3.4.4 0 .8 0 1.3-.2.4 0 .8-.2 1.1-.3l.3 1.5zM57.5 116.3h5.8c0-.7-.2-1.4-.4-2a3.9 3.9 0 00-2.5-2.1c-.6-.2-1.2-.3-1.9-.3l-1.4.1a6 6 0 00-1.5.4l-.4-1.4a9.8 9.8 0 016.2-.3 5.1 5.1 0 013.4 3.4 10 10 0 010 6.2c-.3.9-.7 1.7-1.3 2.3-.6.6-1.3 1-2.2 1.4-.8.4-1.9.5-3 .5a8.1 8.1 0 01-3-.5l.3-1.5 1.4.3h1.3c1.5 0 2.7-.3 3.6-1.1 1-.9 1.4-2 1.4-3.8h-5.8v-1.6z"></path>
<defs>
<linearGradient id="paint1_linear" x1="33" x2="73.2" y1="3.1" y2="19.3" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<linearGradient id="paint2_linear" x1="15.5" x2="9.4" y1="77.9" y2="34.9" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<linearGradient id="paint3_linear" x1="89.1" x2="55" y1="55.7" y2="82.5" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<linearGradient id="paint4_linear" x1="16.9" x2="35" y1="33.9" y2="6.1" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<linearGradient id="paint5_linear" x1="51.1" x2="18.7" y1="73.5" y2="76.8" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<linearGradient id="paint6_linear" x1="72" x2="78.6" y1="26.5" y2="59.9" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</linearGradient>
<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientTransform="matrix(13.4521 .01293 -.01297 13.4909 43 40.4)" gradientUnits="userSpaceOnUse">
<stop stop-color="#6794C9"></stop>
<stop offset="1" stop-color="#172B66"></stop>
</radialGradient>
</defs>
</svg>
</a>
</div>
<div class="page-content__row page-content__row_middle row row_middle">
<form style="display:none" class="page-content__form" autocomplete="off">
<input type="text" placeholder="Имя" name="first name" aria-label="Имя" data-is-valid="false">
<input type="text" placeholder="Фамилия" name="last name" aria-label="Фамилия" data-is-valid="false">
<div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false" data-is-valid="false"><div class="choices__inner"><select name="company" aria-label="Выберите компанию" class="choices__input" hidden="" tabindex="-1" data-choice="active"><option value="Выберите компанию">Выберите компанию</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__placeholder choices__item--selectable" data-item="" data-id="1" data-value="Выберите компанию" data-custom-properties="null" aria-selected="true">Выберите компанию</div></div></div><div class="choices__list choices__list--dropdown" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--company-zd-item-choice-1" class="choices__item choices__item--choice is-selected choices__placeholder choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="Выберите компанию" data-select-text="" data-choice-selectable="" aria-selected="true">Выберите компанию</div><div id="choices--company-zd-item-choice-2" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="2" data-value="Газпром" data-select-text="" data-choice-selectable="">Газпром</div><div id="choices--company-zd-item-choice-3" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="3" data-value="Лукойл" data-select-text="" data-choice-selectable="">Лукойл</div><div id="choices--company-zd-item-choice-4" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="4" data-value="Сибур" data-select-text="" data-choice-selectable="">Сибур</div><div id="choices--company-zd-item-choice-5" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="5" data-value="Роснефть" data-select-text="" data-choice-selectable="">Роснефть</div><div id="choices--company-zd-item-choice-6" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="6" data-value="Роскосмос" data-select-text="" data-choice-selectable="">Роскосмос</div><div id="choices--company-zd-item-choice-7" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="7" data-value="Газпром" data-select-text="" data-choice-selectable="">Газпром</div><div id="choices--company-zd-item-choice-8" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="8" data-value="Лукойл" data-select-text="" data-choice-selectable="">Лукойл</div><div id="choices--company-zd-item-choice-9" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="9" data-value="Сибур" data-select-text="" data-choice-selectable="">Сибур</div><div id="choices--company-zd-item-choice-10" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="10" data-value="Роснефть" data-select-text="" data-choice-selectable="">Роснефть</div><div id="choices--company-zd-item-choice-11" class="choices__item choices__item--choice choices__item--selectable" role="option" data-choice="" data-id="11" data-value="Роскосмос" data-select-text="" data-choice-selectable="">Роскосмос</div></div></div></div>
<button class="button" type="submit" disabled="">Войти</button>
</form>
</div>
<div class="page-content__row page-content__row_lower row row_lower">
<div class="page-content__countdown countdown">
<h2 class="countdown__date">30 сентября 2020 года</h2>
<h2 class="countdown__info">До начала</h2>
<p class="countdown__timer"><span id="days" class="countdown__days">1 день</span> <span id="time" class="countdown__time">12:46:32</span></p>
</div>
<h1 class="page-content__title">Бoльшой праздничный Эфир</h1>
</div>
</main>
</div>

</body></html>