extends layout
block head
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/rosatomLogin.css')
block content
    div.aHome
        div.aL
            div.aLogo
                img(src="/images/clients/rosatom/logo.svg")
            div.aTitle
                div Онлайн марафон
            div.aDescr все вместе
            div.aTime 29 июля 2020г. 14:00
            div.aTime
                div Начало регистрации
                div 28 июля 2020г. 1
        div.aR