extends layout
block head
  link(rel='stylesheet', href='/stylesheets/old.css')
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/lib/vue-youtube.js"></script>
  script(src="/javascripts/utils.js")
  //script(src="/javascripts/wowza.js")
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/room.css')
  script.
    function download(url) {
      var iframe=document.createElement('iframe')
      document.body.appendChild(iframe)
      iframe.src=url;
    }
block content
  div.roomScreen.multiViewVideo(id="app" style="opacity:1" )



    div.center
      div
        each item in records
          div.qItem   #{moment(item.date).format('DD MMMM YYYY, hh:mm:ss')}
            div(style="margin:10px")
              video(src='/records/stage_'+item.id+".webm" width="180" controls)
            div.qItemText
              a(style="cursor:pointer" onclick="download('/records/stage_"+item.id+".webm')") download










