extends layout
block head
  link(rel='stylesheet', href='/stylesheets/old.css')
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/lib/vue-youtube.js"></script>
  script(src="/javascripts/utils.js")
  //script(src="/javascripts/wowza.js")
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  link(rel='stylesheet', href='/stylesheets/login.css')
  link(rel='stylesheet', href='/stylesheets/room.css')
block content
  div.roomScreen.multiViewVideo(id="app" style="opacity:1" )



    div.center










