extends layout
block head
  link(rel='stylesheet', href='/stylesheets/aij.css')
  script(src="/javascripts/test.js")


block content
  body()
    .tContainer
      .tlogo
        img(src="/images/clients/aij/logo.svg")
        .tHeader-logo__text
          .js-marquee-wrapper
            .js-marquee  Automated Machine   Learning Recommender system   Speech Analytics     speech analytics
            .js-marquee(style="margin-bottom: 0px")  Automated Machine   Learning Recommender system   Speech Analytics     speech analytics
        .tLong-text
          .js-marquee-wrapper
            .js-marquee  Automated Decision   Support & Scoring Natural Language Processing    Computer Vision     Automated Decision   Support & Scoring    Natural Language Processing     Computer Vision speech analytics
      .tBody
        .tTitle AIJ speakers test page
        .btn.mt
          div Click here to start / Нажмите для начала теста
        .roga.mt
          .rogaRow
              .rogaCell.succeess bla-bla
          .rogaRow
              .rogaCell.error do while





