extends layout
block head
  link(rel='stylesheet', href='/stylesheets/aij.css')
  script(src="/javascripts/test.js")


block content
  body()
    .tContainer
      .tlogo
        img(src="/images/clients/aij/logo.svg")







