extends layout
block head
  link(rel='stylesheet', href='/stylesheets/aij.css')
  script(src="/javascripts/test.js")
  style.
    #srcVideo{
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 11;
    }

block content
  body()
    div#btn(style="margin:50px; padding:10px; cursor:pointer; background:yellow;display: inline-block;") кликни здесь
    div
      video#srcVideo(autoplay="true")
    div
      canvas#canvas
    div
      video#destVideo(autoplay="true" controls)

      <video id="testvideo" width="160" height="120" autoplay></video><br>
      <div id="div"></div>


      <div class="plInputListItem"
      <option class="plInputListItemTitle"></option>
      <div class="plInputListItemTitle"></div></div><div class="plInputListItem">
      <div class="plInputListItemTitle">
      </div></div><div class="plInputListItem"><div class="plInputListItemTitle">
      </div></div><div class="plInputListItem"><div class="plInputListItemTitle">


      </div></div><div class="plInputListItem"><div class="plInputListItemTitle">
    </div></div><div class="plInputListItem"><div class="plInputListItemTitle">

    </div></div><div class="plInputListItem"><div class="plInputListItemTitle">

    </div></div><div class="plInputListItem"><div class="plInputListItemTitle">
    </div></div><div class="plInputListItem"><div class="plInputListItemTitle"></div></div></div>







