/////
@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-Light.eot');
  src: local('Aeroport Light'), local('Aeroport-Light'),
  url('/fonts/Aeroport-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-Light.woff2') format('woff2'),
  url('/fonts/Aeroport-Light.woff') format('woff'),
  url('/fonts/Aeroport-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport Mono';
  src: url('/fonts/AeroportMono.eot');
  src: local('Aeroport Mono'), local('AeroportMono'),
  url('/fonts/AeroportMono.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AeroportMono.woff2') format('woff2'),
  url('/fonts/AeroportMono.woff') format('woff'),
  url('/fonts/AeroportMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-Bold.eot');
  src: local('Aeroport Bold'), local('Aeroport-Bold'),
  url('/fonts/Aeroport-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-Bold.woff2') format('woff2'),
  url('/fonts/Aeroport-Bold.woff') format('woff'),
  url('/fonts/Aeroport-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-LightItalic.eot');
  src: local('Aeroport Light Italic'), local('Aeroport-LightItalic'),
  url('/fonts/Aeroport-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-LightItalic.woff2') format('woff2'),
  url('/fonts/Aeroport-LightItalic.woff') format('woff'),
  url('/fonts/Aeroport-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-BoldItalic.eot');
  src: local('Aeroport Bold Italic'), local('Aeroport-BoldItalic'),
  url('/fonts/Aeroport-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-BoldItalic.woff2') format('woff2'),
  url('/fonts/Aeroport-BoldItalic.woff') format('woff'),
  url('/fonts/Aeroport-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-MediumItalic.eot');
  src: local('Aeroport Medium Italic'), local('Aeroport-MediumItalic'),
  url('/fonts/Aeroport-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-MediumItalic.woff2') format('woff2'),
  url('/fonts/Aeroport-MediumItalic.woff') format('woff'),
  url('/fonts/Aeroport-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport.eot');
  src: local('Aeroport'),
  url('/fonts/Aeroport.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport.woff2') format('woff2'),
  url('/fonts/Aeroport.woff') format('woff'),
  url('/fonts/Aeroport.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-Italic.eot');
  src: local('Aeroport Italic'), local('Aeroport-Italic'),
  url('/fonts/Aeroport-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-Italic.woff2') format('woff2'),
  url('/fonts/Aeroport-Italic.woff') format('woff'),
  url('/fonts/Aeroport-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aeroport';
  src: url('/fonts/Aeroport-Medium.eot');
  src: local('Aeroport Medium'), local('Aeroport-Medium'),
  url('/fonts/Aeroport-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Aeroport-Medium.woff2') format('woff2'),
  url('/fonts/Aeroport-Medium.woff') format('woff'),
  url('/fonts/Aeroport-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



body{
  font-family: "Aeroport",sans-serif;
  font-size: 16px;
  color: #242b33;
  background-color: #242b33;
}
.tContainer{
  min-height: 100vh;
  background-image: url('/images/clients/aij/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.tlogo{
  position: absolute;
  left: 32px;
  top: 16px;
  width: 94px;
}
.tlogo img{
  width: 100%;
}
.tHeaderLogoText{
  width: 36px;
  overflow: hidden;
  font-size: 1.125rem;
  letter-spacing: .9px;
  font-weight: 300;
  top: -23px;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  color: #00d7cc;
  transform: rotate(180deg);
  height: 30px;
  white-space: nowrap;
  right: -20px;
}
@keyframes marqueeAnimation-8695876 {
  0%   { text-indent: 5em }
  100% { text-indent: -54em }
}
.js-marquee-wrapper{
  transform: translateY(0px);
  animation: 46.92s linear 1s infinite normal none running marqueeAnimation-8695876;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.js-marquee{
  margin-right: 0px;
  float: none;
  margin-bottom: 20px;
  margin-right: 0px;
  float: none;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(315deg,#00d7cc 0,#00c500 50%,#00d7cc 100%);
  background: linear-gradient(135deg,#00d7cc 0%,#00c500 50%,#00d7cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tHeader-logo__text{
  width: 36px;
  overflow: hidden;
  font-size: 1.125rem;
  letter-spacing: .9px;
  font-weight: 300;
  top: -23px;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  color: #00d7cc;
  transform: rotate(180deg);
  height: 30px;
  white-space: nowrap;
  right: -20px;
  font-size: .875rem;
  right: -14px;
  width: 34px;
}
.tLong-text{
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  left: 28px;
  white-space: nowrap;
  height: calc(100% + 338px - 120px);
  text-transform: uppercase;
  top: 120px;
  z-index: 4;
  font-size: 1.125rem;
  overflow: hidden;
  color: #00d7cc;
  letter-spacing: .9px;
  font-weight: 300;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  height: calc(100vh - 8em);
  background-color: transparent!important;
  color: #00d7cc;
  top: 90px;
  font-size: .875rem;
}
.tBody{
  padding-left: 8.48958vw;
  padding-right: 8.48958vw;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 100px;
}
.tTitle{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top:100px;
}
.btn{
  width: 11.45833vw;
  border-color: rgba(255,255,255,.18);
  color: #fff;
  margin-right: 3.125vw;
  cursor: pointer;
  border: 2px solid #00d7cc;
  position: relative;
  border-radius: 55px;
  height: 48px;
  font-size: .875rem;
  text-decoration: none;
  outline: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 220px;
  width: 100%;
  height: 56px;
  font-weight: 500;
  width: 30em;
}
.btn:hover {
  background-color: #00d7cc;
  border-color: #00d7cc;
}
.mt{
  margin-top:3em;
}
.roga {
  background-image: url(/images/clients/aij/smart1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8.48958vw;
  padding-right: 8.48958vw;
}
.rogaRow{
  margin-top:1em;
}
.rogaCell{
  position: relative;
}
.rogaCell.succeess:before{
  content: "+";
  color: white;
  padding-right: .5em;
  font-weight: bold;
}
.rogaCell.error:before{
  content: "X";
  color: red;
  padding-right: .5em;
  font-weight: bold;
}