@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-light.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-light.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-light.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-light.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-light.svg?#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-lightitalic.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-lightitalic.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-lightitalic.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-lightitalic.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-lightitalic.svg?#webfont") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport.svg?#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-italic.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-italic.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-italic.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-italic.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-italic.svg?#webfont") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-medium.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-medium.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-medium.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-medium.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-medium.svg?#webfont") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-mediumitalic.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-mediumitalic.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-mediumitalic.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-mediumitalic.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-mediumitalic.svg?#webfont") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-bold.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-bold.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bold.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bold.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bold.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-bolditalic.eot");
  src: url("https://ai-journey.ru/fonts/aeroport/aeroport-bolditalic.eot?#iefix") format("embedded-opentype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bolditalic.woff") format("woff"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bolditalic.ttf") format("truetype"), url("https://ai-journey.ru/fonts/aeroport/aeroport-bolditalic.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body{
  font-family: "Aeroport",sans-serif;
  font-size: 16px;
  color: #242b33;
  background-color: #242b33;
}
.tContainer{
  min-height: 100vh;
  background-image: url('/images/clients/aij/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.tlogo{
  position: absolute;
  left: 32px;
  top: 16px;
  width: 94px;
}
.tlogo img{
  width: 100%;
}
.tHeaderLogoText{
  width: 36px;
  overflow: hidden;
  font-size: 1.125rem;
  letter-spacing: .9px;
  font-weight: 300;
  top: -23px;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  color: #00d7cc;
  transform: rotate(180deg);
  height: 30px;
  white-space: nowrap;
  right: -20px;
}
@keyframes marqueeAnimation-8695876 {
  0%   { text-indent: 5em }
  100% { text-indent: -54em }
}
.js-marquee-wrapper{
  transform: translateY(0px);
  animation: 46.92s linear 1s infinite normal none running marqueeAnimation-8695876;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.js-marquee{
  margin-right: 0px;
  float: none;
  margin-bottom: 20px;
  margin-right: 0px;
  float: none;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(315deg,#00d7cc 0,#00c500 50%,#00d7cc 100%);
  background: linear-gradient(135deg,#00d7cc 0%,#00c500 50%,#00d7cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tHeader-logo__text{
  width: 36px;
  overflow: hidden;
  font-size: 1.125rem;
  letter-spacing: .9px;
  font-weight: 300;
  top: -23px;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  color: #00d7cc;
  transform: rotate(180deg);
  height: 30px;
  white-space: nowrap;
  right: -20px;
  font-size: .875rem;
  right: -14px;
  width: 34px;
}
.tLong-text{
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  left: 28px;
  white-space: nowrap;
  height: calc(100% + 338px - 120px);
  text-transform: uppercase;
  top: 120px;
  z-index: 4;
  font-size: 1.125rem;
  overflow: hidden;
  color: #00d7cc;
  letter-spacing: .9px;
  font-weight: 300;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 422.5px;
  background-color: transparent!important;
  color: #00d7cc;
  top: 90px;
  font-size: .875rem;
}