@font-face {
    font-family: 'CB_Stem Extra';
    src: url('/fonts/CB_Stem-ExtraLight.eot');
    src: url('/fonts/CB_Stem-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CB_Stem-ExtraLight.woff2') format('woff2'),
    url('/fonts/CB_Stem-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'CB_Stem';
    src: url('/fonts/CB_Stem-Regular.eot');
    src: url('/fonts/CB_Stem-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CB_Stem-Regular.woff2') format('woff2'),
    url('/fonts/CB_Stem-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CB_Stem';
    src: url('/fonts/CB_Stem-Light.eot');
    src: url('/fonts/CB_Stem-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CB_Stem-Light.woff2') format('woff2'),
    url('/fonts/CB_Stem-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CB_Stem';
    src: url('/fonts/CB_Stem-Italic.eot');
    src: url('/fonts/CB_Stem-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CB_Stem-Italic.woff2') format('woff2'),
    url('/fonts/CB_Stem-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CB_Stem';
    src: url('/fonts/CB_Stem-Medium.eot');
    src: url('/fonts/CB_Stem-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/CB_Stem-Medium.woff2') format('woff2'),
    url('/fonts/CB_Stem-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
#app{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: CB_Stem !important;
    font-style: normal;
    font-weight: normal;
}
.qItemName{
    text-align: center;
    color:#FFFFFF;

    font-size: 42px;
}
.vAnswBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
 }
.vAnsw{
    color:white;
    font-size: 24px;
    width: calc(25%  - 10px);
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background: #0083BB;
    padding: 10px;
    transition: all .5s ease;
}
.vAnsw.ready{
    color: #0083BB;
    background: white;
    position: relative;
}
.vAnswBox.isCompl{
     display: block;
 }

.vAnswBox.isCompl .vAnsw{
   background: none !important;
   color:white  !important;
    width: 100%;
    text-align: left;
    cursor: auto;
}
.vAnswBox.isCompl .vAnswTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vAnswBox.isCompl .vAnswTitleCap{
      width: 30%;
    font-size: 18px;
  }
.vAnswBox.isCompl .vAnswPercent{
    width: 30%;
    height: 1em;
}
.vAnswBox.isCompl .vAnswPercentStatus{
    height: 1em;
}
.vAnswBox.isCompl .vAnswPercentStatus:nth-child(0){
      background: #F0665D;
  }
.vAnswBox.isCompl .vAnswPercentStatus:nth-child(1){
    background: #0083BB;
}
.vAnswBox.isCompl .vAnswPercentStatus:nth-child(2){
    background: #01A5DC;
}
.vAnswBox.isCompl .vAnswPercentStatus:nth-child(3){
    background: #63B74B;
}
.vAnswBox.isCompl .vAnswPercTitle{
    width: 30%;
}
