.roomScreen {
}

body{
  background-color: #1E2226;
  font-family: Open Sans;
  color: #EEEEEE;
}
input{
  color: #EEEEEE;
}

.roomScreen{
  background: url(/images/loginbg.svg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

}
.head{
  position: fixed;
  background: linear-gradient(180deg, #282D33 18.75%, rgba(40, 45, 51, 0) 92.86%);;
  z-index: 150;
  width: 75%;
}
.headBox{
  opacity: .25;
  transition: opacity .5s ease;
}
.headBox:hover {
  opacity: 1;
}
.center{
  width: 100%;
  max-width: 100%;
  display: flex;
   padding: 0 ;
  margin: 0 auto;
}
.L{
width: 75%;
    background: inherit;
    box-shadow: inherit;
    border-radius: inherit;
    color: inherit;
    margin-right: inherit;
    float: inherit;
  display: block;
  position: relative;
}
.banner-overlay {
  position: absolute;
  height: auto;
  margin-bottom: 50px;
  top: inherit;
  bottom: 0;
  width: min-content;
  left: ~"calc(50% - 255px/2)";
  opacity: .55;
  transition: opacity .5s ease;
}
.opa0{
   opacity: .0;
   transition: opacity .5s ease;
 }


.banner-overlay:hover, .banner-overlay:hover .opa0{
  opacity: 1;
}

.greenBtn{
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  text-transform: uppercase;
}
.clearBtn{
  margin-left: 10px;
}
.clearBtn:first-of-type{
  margin-left: 20px;
}
.fillOn #p2{
  fill:red;
}
.multiViewVideo #VKS {
  position: static;
  top: 100%;
  right: auto;
  height: auto;
  left: 0;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  min-height: 100px;
}
.multiViewVideo .videoBoxWr {
  position: relative;
  height: 101px;
  background: #272c31;
}
#videoWr{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
  background: #272c31;
}
.adminScreen #videoWr {
  display: block;
}
.R{
  width: 25%;
  height: 100vh;
  background: #1E2226;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
}
.rHeadItem{
  color:#eeeeee;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
}
.qItem{
  background: #282D33;
}
.qItemText, .qItemSmi, .qItemName, .qItemDate{
  color:#eeeeee
}
.qItemReady{
  color: #3D89E0;
  background: rgba(60, 135, 220, .15);;
}
.ask{
  background: transparent;
}
.headLogo .black {
  fill:#eeeeee
}
.rBody{
  height: ~"calc(100% - 83px)";

  overflow-x:hidden;
}
.rHead{
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   overflow-x: scroll;
   white-space: nowrap;
  width: ~"calc(100% - 20px)";
  margin: 0 10px;
 }
.rHeadItem{
  font-size: 12px;
  width: 66px;
  line-height: 18px;
}
 .aMenu{
   background:inherit;
   justify-content: flex-start;

 }
 .aModSect{
   background:inherit;
 }
 .aModSectMenuItem{
   color:#EEEEEE;
 }
.adminScreen .aPresBox{
   background: inherit;
 }
.adminScreen #VKS{
  background: #282D33;
}
.qItemAnsvwer{
   padding: 10px;
   background: #3e464f;
   margin-top: 10px;
   border-radius: 4px;
  color: #eeeeee;


}
.qItemAnsvwer a{
  color:#39ACDE;
}
.qItemAnsverText textarea{
  border: 0;
  padding: 10px 0;
  resize: vertical;
  width: 100%;
  background: transparent;
  color: #eee;
}
.qItemAnsverText{
  padding-top: 10px;
}
.rFeedGroupTitle {
  color: #eeeeee;
  /* line-height: 10px; */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;

}
.rLinkBtn{
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.0521739px;
  text-align: right;
  color: #39ACDE;
  cursor: pointer;
}

.rItemSubTitle{
  font-weight: 100;
  font-size: 12px;
  margin-top: 5px;
}
.aMenuInputGroup input {
  color:black
}
.aMenuInputGroup label{
  border-radius:2px;
}
.userItem.active .video path {
  fill: #39ACDE;
}
.inviteDialog{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  color:#eeeeee;
  align-items: center;
  justify-content: center;
}
.inviteDialogBox{
  width: 300px;
  border-radius: 15px;
  background: black;
  height: max-content;
  padding: 20px;
}
.rInviteBox{
  color:#eeeeee;
}
.inviteDialogBoxItems{
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  white-space: nowrap;
  width: ~"calc(100% - 0px)";
  margin: 0 10px;
}
.inviteDialogBoxItem{
  width: 250px;
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}
.rInvitesTitle{
  font-size: 14px;
  line-height: 24px;
}
.inviteDialogBoxItems{
  margin: 10px auto;
}
@media only screen and (max-width: 1024px){
  .head{
    width: 100%;
    position: static;
  }
  .headBox{
    opacity: 1;
  }
  .center{
    display: block;
  }
  .L{
    width: 100%;
    background: transparent !important;
  }
   .R{
    width: 100%;
     margin-top: 30px;
     max-height: 80vh;
  }
   .rContentWr{
     padding-bottom: 20px;
   }
   .rHeadItem{
     font-weight: 600;
     font-size: 10px;
     line-height: 14px;
   }
   .banner-overlay{
     display: none;
   }
}