@dark:#252321;
@dark2:#282d34;
@color:#3c89df;
@Superdark:#1E2226;
@red:red;
.roomScreen {
}
html{
  scroll-behavior: smooth;
}

@keyframes flick {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  100%{opacity: 1}
}
@keyframes load {
  0%{
    width: 0%;
  }

  100%{width: 100%}
}
body{
  background-color: @Superdark;
  font-family: Open Sans;
  color: #EEEEEE;
}

input{
  color: #EEEEEE;
}

.roomScreen{
  background: url(/images/loginbg.svg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

}
.head{
  position: fixed;
 // background: linear-gradient(180deg, #282D33 18.75%, rgba(40, 45, 51, 0) 92.86%);;
  background:transparent;
  z-index: 150;
  width: 75%;

}
.headBox{
  //opacity: .25;
  transition: opacity .5s ease;

}
.headTitle{
  color: #eeeeee;
}
.headBox:hover {
  opacity: 1;
}
.center{
  width: 100%;
  max-width: 100%;
  display: flex;
   padding: 0 ;
  margin: 0 auto;
}
.L{
width: 75%;
    background: inherit;
    box-shadow: inherit;
    border-radius: inherit;
    color: inherit;
    margin-right: inherit;
    float: inherit;
  display: block;
  position: relative;
}
.banner-overlay {
  position: absolute;
  height: auto;
  margin-bottom: 50px;
  top: inherit;
  bottom: 0;
  width: min-content;
  left: ~"calc(50% - 255px/2)";
  opacity: .55;
  transition: opacity .5s ease;
}
.opa0{
   opacity: .0;
   transition: opacity .5s ease;
  display:none;
 }


.banner-overlay:hover, .banner-overlay:hover .opa0{
  opacity: 1;
}

.greenBtn{
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  text-transform: uppercase;
}
.greenBtn.warning{
  background: @red;
}
.clearBtn{
  margin-left: 10px;
}
.clearBtn:first-of-type{
  margin-left: 20px;
}
.fillOn #p2{
  fill:@red;
}
.multiViewVideo #VKS {
  position: static;
  top: 100%;
  right: auto;
  height: auto;
  left: 0;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  min-height: 0;
}

.multiViewVideo .videoBoxWr {
  position: relative;
  height: 101px;
  background: #272c31;
}
#videoWr::-webkit-scrollbar {
  display: none;
}
#videoWr{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
  background: #272c31;
}
.adminScreen #videoWr {
  display: block;
}
.R{
  width: 25%;
  height: 100vh;
  background: @Superdark;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
  position: fixed;
  right: 0;
}
.rHeadItem{
  color:#eeeeee;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;
}
.qItem{
  background: #282D33;
}
.qItemText, .qItemSmi, .qItemName, .qItemDate{
  color:#eeeeee
}
.qItemReady{
  color: #3D89E0;
  background: rgba(60, 135, 220, .15);;
}
.ask{
  background: transparent;
}
.headLogo .black {
  fill:#eeeeee
}
.rBody{
  height: ~"calc(100% - 98px)";
  scroll-behavior: smooth;
  overflow-x:hidden;
  padding-top: 0;
}

  .rBody::-webkit-scrollbar {
    display: none;

}
.rHead{
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   overflow-x: scroll;
   white-space: nowrap;
  width: ~"calc(100% - 20px)";
  margin: 0 10px;
  height: 99px;
  background: @Superdark;

    margin: 0 auto;
    width: max-content;
 }
.rHead::-webkit-scrollbar {
  display: none;

}
.rHeadItem{
  font-size: 12px;
 //width: 66px;
  width: 75px;
  line-height: 18px;
}
 .aMenu{
   background:inherit;
   justify-content: flex-start;

 }
 .aModSect{
   background:inherit;
 }
 .aModSectMenuItem{
   color:#EEEEEE;
 }
.adminScreen .aPresBox{
   background: inherit;
 }
.adminScreen #VKS{
  background: #282D33;
}
.qItemAnsvwer{
   padding: 10px;
   background: #3e464f;
   margin-top: 10px;
   border-radius: 4px;
  color: #eeeeee;

  margin-bottom: 15px;
}
.qItemAnsvwer a{
  color:#39ACDE;
}
.qItemAnsverText textarea{
  border: 0;
  padding: 10px 0;
  resize: vertical;
  width: 100%;
  background: transparent;
  color: #eee;
}
.qItemAnsverText{
  padding-top: 10px;
}
.rFeedGroupTitle {
  color: #eeeeee;
  /* line-height: 10px; */
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;

}
.rLinkBtn{
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.0521739px;
  text-align: right;
  color: #39ACDE;
  cursor: pointer;
}

.rItemSubTitle{
  font-weight: 100;
  font-size: 12px;
  margin-top: 5px;
}
.aMenuInputGroup input {
  color:black
}
.aMenuInputGroup label{
  border-radius:2px;
}
.userItem.active .video path {
  fill: #39ACDE;
}
.inviteDialog{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  color:#eeeeee;
  align-items: center;
  justify-content: center;
}
.inviteDialogBox{
  width: 300px;
  border-radius: 15px;
  background: black;
  height: max-content;
  padding: 20px;
}
.rInviteBox{
  color:#eeeeee;
}
.inviteDialogBoxItems{
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  white-space: nowrap;
  width: ~"calc(100% - 0px)";
  margin: 0 10px;
}
.inviteDialogBoxItems::-webkit-scrollbar {
  display: none;

}
.inviteDialogBoxItem{
  width: 250px;
  width: 250px;
  display: inline-block;
  margin-right: 20px;
}
.rInvitesTitle{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}
.inviteDialogBoxItems{
  margin: 10px auto;
}
.rHeadItem.alert .rHeadItemLogo{
 animation: flick 2s infinite;
  transition: opacity 1s ease;
}
.meetingScreen {
  background: url(/images/loginbg.svg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
#spkAlert{
  color:black;
}
.spkContaiter .aMenu{
  justify-content: center;
}
.aMenu .greenBtn{
  padding-top: 5px;
}
.stageTimerLimit{
  color: black;
}
.spkContaiter #videoWr{
  background: transparent;
}
.spkContaiter #VKS {
  background: transparent;
}
.qLikeCount{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.qLikeIcon{
  float: right;
  display: inline-block;
}
.multiViewVideo:not(.roomInPres) #VKS.fromSpk{
  position: fixed;
  top: 0;
  right: 75%;
  height: 100vh;
  left: 0;
  overflow-y: hidden;
  text-align: center;
  width: 75%;
  min-height: 100px;
  z-index: 10;
}
.spkContaiter.multiViewVideo:not(.roomInPres) #VKS.fromSpk {
  position: static;
  top: 0;
  right: auto;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
  min-height: 100px;
  z-index: 10;
}
.meetingBtnBox{
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 75%;
  opacity: .5;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,.25);
  z-index: 20;
}
.roomMeetVideoBox{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #262626;
  background-size: 100%;
  background-position: 0 120px;
  background-repeat: no-repeat;
}
.meetingBtnBox:hover{
  opacity: 1;
}
.meetVideoBox{
  position: absolute;
  top:60px;
  width:~"calc( 100% - 40px)";
  margin:0 20px;
  box-sizing: border-box;
  padding: 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: ~"calc(100% - 100px)";
  flex-wrap: wrap;


}
.meetVideoItem{
  width:~"calc(33% - 20px)";
  background: #272c31;
  //margin: 10px;
  border-radius: 4px;
  border: 2px solid transparent;
 // position: relative;
//  flex: 1 0 33%; /* explanation below */
}
.meetVideoItem.isPGM, .meetVideoItem.isPIP,  .meetVideoItem.isP1{
  border: 2px solid red;
}
.meetVideoWrapper{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.meetVideoWrapperContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.meetVideo{
  transform: inherit;
  height: 100%;
  max-height: 100%;
  border-radius: 4px;
  max-width: 100%;
}

.meetVideoCap{
  position: absolute;
  bottom:0;
  left: 0;
  padding: 5px;
  box-sizing: border-box;
  background: rgba(0,0,0,.25);
  border-radius: 0 0 4px 0;
  width: 100%;
  text-align: center;
}
.meetVideoLevel{
  position: absolute;
  bottom:0;
  right: 5px;
  width: 5px;
  height: 0;
  background: @color;
  opacity: .5;
  max-height: 100%;
}
.meetVideoFullScreen{
  background: rgba(0,0,0,.25);
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
  padding: 2px;
  border-radius: 0 4px 0 4px ;
  opacity: .5;

}
.meetVideoMute, .meetVideoUnMute{
  background: rgba(0,0,0,.25);
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
    padding: 2px;
    border-radius: 4px 0 4px 0;
  opacity: .5;
}
.meetVideoBox.pgm .meetVideoMute, .meetVideoBox.pgm .meetVideoMute, .meetVideoBox.pgm .meetVideoLevel,  .meetVideoBox.pgm .meetVideoFullScreen{
  display: none;
}
.meetVideoFullScreen:hover, .meetVideoMute:hover{
  opacity: 1;
}
.btnHidden{
  display: none;
}
.qItemPhoto{
  cursor: pointer;
}
#video_0{
  transform: scaleX(-1) !important;
}
.spkLayer #voteBox{
  font-size: 20px;
  line-height: 24px;
}
.spkLayer #voteBox .qAItem{
  margin: 40px;
}
.videoPlayBannner svg path{
  fill:@color;
}
.aSectBody::-webkit-scrollbar{
  -ms-overflow-style: none;
  display: none;
}
.aModSectTitle{
  font-size: 12px;
}
.aModSectFind{
  margin-left: 10px;
  width: 100px;
  border: 0;
  border-radius: 2px;
  background: @dark2;
  padding: 4px;
}
.aModSectFind.active{
  background: #dbdb01;
  color: @dark2;
}
.aModSectFindClear{
display: inline-block;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  height: 14px;

 }
.aModSectFindClear svg{
  position: absolute;
  top:0;
  transform: rotate(45deg);
}
.aSectSwith{
  margin: 10px 0;
  cursor: pointer;
}
.aSectSwith div.warning{
  color:@red;
}
#UpBtn{
  cursor: pointer;
  position: fixed;
  width: 40px;
  bottom: 80px;
  left:-1000px;
}
#UpBtn svg{
  width: 100%;
  height: 100%;
}
#rQsend{
  display: none;
}
.lFooterHead{}
.rLfooter{
  margin-top: 10px;
}
.lFooterAdgendaBox{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.lFooterAdgendaItem{
  width: 50%;
  margin-top: 60px;
}
.lFooterAdgendaWr{
  padding: 20px 20px 20px 20px ;
  margin-left: 50px;
  position: relative;
  border-radius: 4px;
  background: #282D33;
  height: 245px;
}
.lFooterAdgendaWr .qItemName{
  color: @color;
  margin-left: 50px;
  font-size: 18px;
  line-height: 22px;
}
.lFooterAdgendaText{
  line-height: 17px;
  font-size: 14px;
  height: ~"calc(100% - 95px)";
  overflow-y: scroll;
}
.lFooterAdgendaText::-webkit-scrollbar {
  display: none;
}
.lFooterAdgendaAvatar{
  position: absolute;
  top: -25px;
  left: -25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.lFooterAdgendaAvatar img {
width: 100%;
}
.lFooterHead{
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  line-height: 32px;
}
.lFooterProg{

  padding: 40px;
  font-size: 18px;
  width: max-content;
  margin: 0 auto;
  margin-top: 40px;

}
.lFooterProgItem{
  display: flex;
}
.lFooterProgItemTime{
  padding: 20px;
  width: 180px;
  border-right: 1px solid @dark;
  position: relative;
}
.lFooterProgItemTime:after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid @dark;
  border-radius: 50%;
  right: -6px;
  top: 23px;
  background: #DFDFDF;
}


.lFooterProgItemDescr{
  padding: 20px;
}
#activeSection8{
  display:none;
}
#sectMenu_8{
  display: none;
}

.chooseArrow{
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  width: 10px;
  transform: rotate(45deg);
  margin-left: 1em;
  margin-bottom: .5em;

  height: 10px;

}
.chooseLangBoxWr{
  cursor: pointer;
  position: relative;

}
.chooseLangBox{
  position: absolute;
  background: white;
  border-radius: 4px;
  bottom: 0;
  z-index: 1;
  right: 0;
  color: black;
  padding: 5px 0px;

}
.chooseLangItem{
  padding: 3px 10px;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.chooseLangItem.active:before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: 8px;
  border-bottom: 1px solid @dark;
  border-right: 1px solid @dark;
  transform: rotate(45deg);

}
.vCenterBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: inherit;
}
#analiserElem{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 10px;
  z-index: 100;
  background: @color;
}
.meetCenterBox{
  margin-top: 60px;
  box-sizing: border-box;
  padding: 0 20px;
}
.meetAudioMeterHorizonlal{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background: @color;
  width: 50%;
  border-radius: 0 4px 4px 4px;
  max-width: 100%;
}
.showAll{
  display: inline-block;
  margin-left: .5em;
  cursor: pointer;
  color: white;
  background: @color;
  padding: 0 4px;
  font-size: .8em;
  border-radius: 2px;
}
.meetVideoCap{
  color:white;
}
.modContollers{
  position: absolute;
  bottom: 23px;
}
.modRecordContollers{
  position: absolute;
  top: 0px;
}
.stageModBtn{
  display: inline-block;
  padding-top: 5px;
}
.meetVideoWrapperContent{
  display: flex;
  justify-content: center;
}
.meetVideoWrapperContent video{
  height: 100%;
  max-width: 100%;
}
.stageL{
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 30;
  width: 20%;
  background: #ffffff;
  box-shadow: 0 4px 24px rgba(0,0,0,0.4);;
  background: #1E2226;
  box-shadow: 0 4px 24px rgba(0,0,0,0.4);
}
.L.stage{
  width: 55%;
  margin-left: 20%;
}
.stageLTitle{
  margin: 20px;
  font-size: 18px;
}
.qItemMessageInputGroup{
  width: 100%;
}
.qItemMessageInputGroup input{
  box-sizing: border-box;
  width: ~"calc(100% - 30px)";
  margin-right: 5px;
  border: 0;
  padding: 4px;
  border-radius: 2px;
  margin-top: 5px;
  background: #3e464e;
}
.qItemMessageInputGroup svg{
  cursor: pointer;
}
.messageFromMod{
  position: fixed;
  z-index: 10000;
  top: 0;
  background: white;
  color: black;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 1px 7px 14px 0px #888;
}
.messageFromModReplyInput{
  border: 0;
  border-radius: 2px;
  padding: 10px;
  background: #3e464e;
  width: 300px;
  max-width: calc(100% - 20px);

}
.messageFromModReply .greenBtn{
  border-radius: 4px;
  margin-bottom: inherit;
  height: 32px;
}


  .modUserSteaker {
    position: absolute;
    top: 34px;
    left: 21px;
    border-radius: 4px;
    background: #3e464e;
    cursor: pointer;
    width: 22px;
    height: 22px;
  }
  .modUserSteakerGreen{
    background: green !important;
  }
  .modUserSteakerYellow{
    background: yellow !important;
  }
  .modUserSteakerRed{
    background: red !important;
  }

.eQMesToSpkBox{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 305px;
  background: #262626;
  box-sizing: border-box;
  padding: 10px;
  z-index: 10;
}

.mosaicItem{
  width: 25%;
  background: #262626;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  //padding-bottom: 56.25%; /* 16:9 */
  padding-bottom: 14.0625%;
  height: 0;
  float:left;
  text-align: center;
  display: inline-block;

}
.mosaicItem video{
  max-width: 100%;
  height: 100%;
}
.mosaicItem .Wr{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.mosaicItemCap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background: rgba(0,0,0,.25);
  z-index: 1;

}
.mosaicItemImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#localVideo video, #modVideo video {
  width: 180px;
}

#errorMessage{
  position: fixed;
  background: white;
  padding: 10px;
  font-size: 24px;
  width: 80%;
  left: 10%;
  text-align: center;
  z-index: 1000;
  top: 20%;
  border-radius: 4px;
  box-shadow: 0 0 5px 0px #8b8b8b;
}
.mirrored{
  transform: scaleX(-1);
}
#translationVideoBox video{
  height: auto;
}
#remoteVideoWr{
  position: relative;
}
.loader{
  height: 10px;
  margin: 5px;
  background: @color;
  width: 0;
  animation: load 4s infinite;
}
#meetVideoMessegeBox{

}
#meetVideoMessege{

  background: yellow;
  text-align: center;

  padding: 10px;
  font-size: 24px;
}
#modVideo{
  position: relative;
}
.modVideoCap {
  position: absolute;
  color: #ffffff;
  padding: 5px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  width: 100%;
}
.spkContaiter .meetVideoCap{
  font-size: 50px;
  padding-bottom: 30px;
}
.videoInWindow{
  position: fixed !important;
  z-index: 300;
  width: 240px !important;
  height: 135px !important;
  box-shadow: 0 4px 24px rgba(0,0,0,0.4);
  border-bottom-right-radius: 2px;
}
.pgmScreen #meetVideoBox{
  margin-left: 20px !important;
}
.pgmScreen .meetVideoCap{
  display: none;
}
.pgmScreen .modContollers{
  display: none;
}
.pgmScreen{
  cursor: none;
}
.spkContaiter #qBox .qItemText{
  font-size: 32px;
  line-height: 43px;
  margin-top: 28px;
}
.adminScreen #qBox .qItem.ready .qItemText {
  color:#706f6f
}

.adminScreen span.link {
  cursor: pointer;
  border: 1px solid #666;
  background: #3f3f3f;
  border-radius: 2px;
  padding: 2px 4px;
  margin-right: 4px;
}
.aModSectFindVideo{
  display: inline-block;
  cursor: pointer;
  margin-left: 25px;
  position: relative;
  height: 16px;
}
.aModSectFindVideo svg path{
  fill: #39ACDE;
}
.aModSectFindColor{
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  height: 16px;
  width: 16px;
  background: yellow;
  border-radius: 1px;
}
.aModSectFindItem{
  opacity: .2;
}
.aModSectFindItem.active{
  opacity: 1;
}
.stageTrPreview{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  margin-top: 10px;
}
.stageTrPreview video, .stageTrPreview iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#stageLBox{
  height: ~"calc(100% - 250px)";
}
.vAnswPercent{
  height: 4px;
  background: #3c89df;
  border-radius: 0 2px 2px 0;
  margin-top: 4px;
  margin-top: 4px;
  margin-bottom: 6px;
}
.vAnsw{
  margin: 20px 10px;
  cursor: pointer;
}
.spkLayer .qItemDate, .spkLayer .rFooter{
  display: none;
}
.rFeedGroupTitle .tInput{
  border: 1px solid #666;
  width: 100%;
}
#roomVote{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #262626;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
.plInputBox input, .plInputBox div.sel {
  background: #03181D;
  color: #BABABD;
  border: 1px solid rgba(29, 180, 211, 0.1)
}
.stageL #stageLBox{
  background: transparent;
}
.poleDot{
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background: red;
}
#presRew.active, #presFow.active{
  animation: flick 2s infinite;
}
.resWr{
  background: rgba(0,0,0,.75);
  box-sizing: border-box;
  padding: 60px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
}
.resIframe{
  width: 100%;
  height: 100%;
}
.resInside {
  width: 100%;
height: 100%;
position: relative;
}
.resClick{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.progRow{
  display: flex;
  width: 100%;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 22px;
}
.progTime{
  width: 190px;
}
.progText{
  width: ~"calc(100% - 190px)";
}
.progHeader{
  font-weight: bold;
}

.rLfooter{
  color: black;
}
.lFooterHead.headTitle{
  color: black;
}

#userVideo{
//  display: none;
}
.resInside::after{
  content: 'закрыть';
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background: gray;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
}
@media only screen and (max-width: 1024px){

    #activeSection8{
      display:block;
    }
    .rLfooter{
      display: none;
    }
    #progBox .rLfooter{
      display: block;
    }
    .progRow{
      font-size: 16px;
      line-height: 20px;
    }
    .progRow{
      display: block;
    }
    .progTime{
      margin-bottom: 10px;
    }
  .progText {
    width: 100%;
  }
  .meetVideoBox{
    position: inherit;
    padding: 0;
    margin:0;
  }
 .meetVideoItem{
   width: ~"calc(50% - 10px)";
   margin: 5px;
 }
 .meetingBtnBox{
   display: none;
 }
  .head{
    width: 100%;
    position: static;
  }

  .headBox{
    opacity: 1;
  }
  .center{
    display: block;
  }
  .L{
    width: 100%;
    background: transparent !important;
  }
   .R{
    width: 100%;
     margin-top: 30px;
     max-height: 80vh;
  }
  .rBody {
    height: ~"calc(100% - 25px)" ;
  }
  .rHead{
    overflow-x: scroll;
  }
   .rContentWr{
     padding-bottom: 20px;
     height: ~"calc(100vh - 110px)"
   }
   .rHeadItem{
     font-weight: 600;
     font-size: 10px;
     line-height: 14px;
   }
   .banner-overlay{
     display: none;
   }
  .plInputListItems{
    max-height: 30vh;
  }
  .lFooterProg{
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;

  }
  .lFooterProgItemTime{
    padding: 5px;
    width: 100px;
  }
  .lFooterProgItemDescr{
    padding: 20px 20px;
    padding-top: 0;
    width: ~"calc(100% - 120px - 10px - 2px )";
  }
  .lFooterHead{
    margin-top:0 ;
  }
  .lFooterAdgendaBox{
    display: block;
  }
.lFooterAdgendaItem{
  width: 100%;
  margin-left: 5px;;
}
.lFooterAdgendaBox{
  padding: 5px;
}
.lFooterAdgendaWr{
  margin-left: 20px;
  height: auto;
}
.lFooterAdgendaText{
 // height: auto;
  overflow-y: auto;
}
.R{
  position:inherit;
}
.progContent{
  height: 100vh;
}
    .lFooterAdgendaWr .qItemName {
      font-size: 14px;
      line-height: 18px;
    }
    .lFooterProgItemTime:after{
      top:4px;
    }
    .stageR{
      width: 25% ;
      height: 100vh;
      background: #1E2226;
      box-shadow: 0 4px 24px rgba(0,0,0,0.4);
      position: fixed;
      right: 0;
      top: 0;
      margin-top: 0;
    }
    .stageLF{
      bottom: 0;
    }
    .stageLW{
      height: ~"calc(100% - 161px)" !important;
    }
#roomVote{
  height: 100vh;
}
}

@media only screen and (max-width: 767px) {
  .stageLF{
    bottom: auto;
  }
  .stageLW{
height: auto;
  }

  .stageR{
    width: 100% ;
    margin-top: 30px;
    position: inherit;

  }

  .stageL{
    display: none;
  }
  .L.stage {
    width: 100%;
    margin-left: -5px;
    padding: 0;
  }
  #UpBtn{
    left: ~"calc(50% - 20px)";
  }
  .meetVideoBox {
    top: 0;
  }
  .Lbody .greenBtn {

    border-radius: 4px;
    text-align: center;
    padding: 10px;
  }

}