body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1A1A1A;
  color: #F0F0F0;
}
#app{
  background: url(/images/cyberBg.png);
  background-size: 100%  !important;
  background-position: 0  !important;
  background-repeat: repeat  !important;
}
.ploginnScreen{
  background: white !important;
}
.roomScreen{
  background: white !important;;
  background-size: 100%;
  background-position: 0 120px;
  background-repeat: no-repeat;
}
.pLoginBody{
background: #EAE9E9;
}
.pBodySubTitle{
  color: #8B8C90;
}
.plInputBox input, .plInputBox div.sel {
  background: #D8D8D8;
  color:#F0F0F0;
  border: 1px solid #03786B;
}
.plSubmit{
  background: #03786B;
  color: #1A1A1A;
}
#videoWr{
  background: #000000;
 }
.R{
  background: #1A1A1A;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
}
.rHead{
  background: #1A1A1A;
}
.qItem{
  background: #262D2E;
}
.qItemName{
  color: #F0F0F0;
}
.qItem.my .qItemName {
  color: #1DB4D3;;
}
.qItemText, .qItemDate{
  color: #F0F0F0;
}
.vAnswBox{
  color: #F0F0F0;
}
.qItemAnsvwer{
  background: #C4C4C4;
  color: #F0F0F0;
}
.qItemAnsvwer a {
  color: #1DB4D3;;
}
.vAnswPercent{
  background: #1DB4D3;
}
.qLikeIcon path, .qItemReady svg path {
  fill:#1DB4D3;
}
.qItemReady{
  color: #1DB4D3;
  background: #C4C4C4;
}
input{
  color: #F0F0F0;
}
.rHeadItem{
  color: #F0F0F0;
  width:75px
}
.rHeadItem.active{
  border-bottom: 2px solid #1DB4D3;
  color: #1DB4D3;
}
.userItemAvatar svg path{
  fill:#F0F0F0
}
.userItem.active path {
  fill: #1DB4D3;
}
.green{
  color: #1DB4D3;
}
.videoPlayBannner svg path{
  fill:#1DB4D3 !important;
}
.greenBtn{
  background: #1DB4D3;
}
.vAnsw.ready {
  color: #1DB4D3;

}
.codeRoom svg path{
  fill:#1DB4D3 ;
}
.rFeedGroupTitle{
  color: #F0F0F0;
}
.multiViewVideo .videoBoxWr {
  background: #000000;
}
.rBody{
  background: #1A1A1A;
}
.headTitle{
  color: #000000;
}
.head{
  display: none;
}
.videoPlayBannner{
  display: none !important;
}
.opa0{
  display: none;
}
.rInviteBox{
  color: #F0F0F0;
}
.aModSectFind {
  margin-left: 10px;
  width: 100px;
  border: 0;
  border-radius: 2px;
  color: #282d34;
  background:#C4C4C4 ;
  padding: 4px;
}
.aModSectFindClear svg g{
  fill:#282d34;
}
.lFooterAdgendaWr {
  background: #262D2E;
}
.lFooterAdgendaWr .qItemName{
  color: #1DB4D3;
}

.lFooterProg {
  color: #F0F0F0;
  background: #262D2E;
  border-radius: 4px;
}
.messageFromModReplyInput, .qItemMessageInputGroup input{
  background: #262D2E;;
  color:#F0F0F0;

}
.stageL{

  background: #ffffff;
  box-shadow: 0 4px 24px rgba(0,0,0,0.4);;

}
.roomMeetVideoBox{

  background: #ffffff;

}
.pLoginHead img{
  display: none;
}
.pTitle{
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}
#userVideo{
  display: none;
}
.plInputBox input, .plInputBox div.sel {
  background: #03181D;
  color: #BABABD;
  border: 1px solid rgba(29, 180, 211, 0.1)
}
.pLoginBody{
  background: #03181D;
  border: 1px solid rgba(29, 180, 211, 0.1);
}
.plSubmit {
  background: #1DB4D3;
  color: #F0F0F0;
}
.pTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  #sectMenu_8 {
    display: inline-block !important;
  }
  .pTitle {
    font-size: 18px;
    line-height: 25px;
  }

}
@media only screen and (max-width: 767px) {
  #app{
    background:#262D2E ;
  }


}

